[2021-07-19 07:14] DavidFarago commented on #1219
Thanks for your fast reply and pointing out that the request made is stored in the `response` object. You are right, the `Authorization` attribute is set correctly and authorization failure had a different cause (I believe CORS).

[2021-07-19 07:14] #1219 closed

[2021-07-19 15:22] Stranger6667 opened #1230 "[FEATURE] Improvements to stateful testing"
This issue summarizes my findings during the experiment's setup for the paper we are working on.

My general view on changes to be done in Schemathesis in order to perform better:
- Go beyond the Open API runtime expressions & links capabilities;
- Infer connections automatically;
- Verify links' correctness more conservatively;

There are already some open issues for some of the following problem

[2021-07-26 10:45] Stranger6667 opened #1233 "[FEATURE] A way to control `requests` kwargs via CLI"
**Is your feature request related to a problem? Please describe.**
It is currently not possible to disable redirects in CLI (via the `allow_redirects=False` kwarg)

**Describe the solution you'd like**
Add a hook that will allow the end-user to modify kwargs passed to `case.call`

**Additional context**
Requested in [gitter](https://gitter.im/schemathesis/schemathesis?at=60fe62f636b0b97fa2cb0c5d)

[2021-07-26 17:52] #1233 closed

[2021-08-13 14:06] Stranger6667 commented on #1066
Fixed by #1239

[2021-08-13 14:06] #1066 closed

[2021-08-15 15:50] DavidFarago opened #1241 "[BUG] Incompatible regexp formats forcing validation to be disabled"
**Describe the bug**
Schemathesis and my middleware `express-openapi-validator` interpret regular expressions differently, forcing me to disable `express-openapi-validator`'s validation.

**To Reproduce**
Using regexp `pattern:`^[0-9]{4}\-W[0-9]{2}$` leads to many
[code]
during test execution, e.g. for `0112-W03\n`, because the middleware I use, `express-openapi-validator`, seems to interpret `^`

[2021-08-16 07:26] DavidFarago commented on #1144
Yes it did, thank you very much.

[2021-08-19 14:36] Stranger6667 opened #1244 "Document how to write custom checks"
It turned out that this aspect is not clearly documented in the "Extending Schemathesis" section. E.g. it is not clear that checks should raise `AssertionError`

[2021-08-27 19:27] Stranger6667 opened #1251 "Fix corpus tests"
Currently, corpus tests are failing - some of the cases may fail for multiple reasons due to randomness of data generation (e.g. some erroneous `oneOf` branch may not be chosen).

The solution would be to expect one or more possible outcomes per test case and fail a test when something unexpected occurs.

[2021-08-28 09:33] Stranger6667 commented on #1096
Errors in arguments passed to `given` will be immediately seen - for other cases, it is alright to have a short message

[2021-08-28 09:33] #1096 closed

[2021-08-28 11:51] #1244 closed

[2021-09-08 10:43] Stranger6667 opened #1258 "Relax requirement on colorama"
E.g `^0.4.0`

Ref: https://github.com/aws/aws-cli/issues/5943

[2021-09-08 12:30] #1258 closed

[2021-09-08 15:57] Stranger6667 opened #1260 "Improve usage of `data_generation_methods` in loaders"
Open API loaders expect an iterable of `DataGenerationMethod`, but values of `DataGenerationMethod` are iterables themselves:

[code]

So, if the end-user passed such value directly they might see an obscure error:

[code]

I think the best way to solve it is to make loaders support single `DataGenerationMethod` values as well

[2021-09-08 16:38] #1260 closed

[2021-09-10 09:49] Stranger6667 opened #1262 "[FEATURE] Provide a helpful error message when the API schema is not in YAML or JSON"
**Is your feature request related to a problem? Please describe.**
When the user passes a link to e.g. an HTML page to Schemathesis, then the output error is misleading and not helpful:

[code]

**Describe the solution you'd like**
Try to detect the media type & provide some message about what Schemathesis expects and what it gets.

**Additional context**
Comes from a support question

[2021-09-14 15:37] seano-vs opened #1266 "Is it possible to set a route's timeout with schemathesis.from_dict?"
**Is your feature request related to a problem? Please describe.**
Long story short, I'm trying to set an individual route's timeout in my schemathesis setup where I load an OAS3 config from dict. I've read the docs and looked through the source, but am still not sure if this is possible. Sorry if I am misinterpreting the docs, but I've had a few peers check my work and I am coming here as a last

[2021-09-14 15:53] Stranger6667 commented on #1266
Hi @seano-vs !

Thank you for reporting it :)

I think you can do this by conditionally passing `timeout=N` to your `case.call` calls. E.g.

[code]

I hope that it solves the case :) And we can definitely improve the docs on this matter and how what are the roles of different similarly-named parameters (that hypothesis deadline vs timeout thing)

Cheers

[2021-09-14 16:24] seano-vs commented on #1266
Hey @Stranger6667!

Wow, this works great. I really appreciate the prompt response, this really got me up and running quickly! Thanks so much for your help!

[2021-09-14 16:41] Stranger6667 commented on #1266
I am delighted to hear it, you are very welcome! :)

I'll keep the issue open and will work on it once I have time

[2021-09-17 09:26] Stranger6667 opened #1267 "[FEATURE] Introduce a persistent config file"
**Is your feature request related to a problem? Please describe.**
When I want to reuse some config options across multiple projects (e.g. always run positive + negative testing), then I have to do it manually every time.

Additionally, it might help to store some configuration that is hard to implement for CLI (e.g. some complex expressions or rules for filtering API operations).

It could also b

[2021-09-17 14:53] mbiuki commented on #1267
Is this config file also applicable to pytest python scripts of Schemathesis or is it just for CLI? Are you going to provide some documentation about how to prepare the config file? Thanks.

[2021-09-20 06:45] Stranger6667 commented on #1267
Good point! Yep, I think that it will include options for both, CLI and pytest integration :) I will definitely do my best documenting the details

[2021-09-21 15:59] mbiuki commented on #1267
This would be great. I am not sure how the configuration file will eventually look like. But it is desirable to have the following embedded in configuration so we do not have to specify those in our python scripts.

### 1/ Refresh token in seconds
[code]

### 2/ Fixed body path parameter UUIDs
[code]

### 3/ Headers' custom params

[code]

I am not sure what I have right now is correct, but here i

[2021-09-21 17:31] Stranger6667 commented on #1267
@mbiuki

Thank you for the ideas! I think it is perfectly reasonable to have config entries for them.

Yep, the code looks good to me. One thing that could be interesting is to use [negative testing](https://schemathesis.readthedocs.io/en/stable/how.html?highlight=negative#negative-testing) as well:

[code]

[2021-09-22 17:14] ivanych opened #1269 "[FEATURE] В подсказке по воспроизведению проблемы показывать команду curl"
Если какой-то тестируемый метод выдаёт ошибку, Схематезис выдаёт подказку со способом воспроизведения:

[code]

Было бы очень удобно, если бы помимо этого кода на Питоне выдавалась команда **curl**:

[code]
Так делает, к примеру, Сваггер. И это очень удобно — эту строчку можно отправить практически кому угодно и он её выполнит сходу, а вот код на Питоне выполнить не так-то просто, нужны дополнител

[2021-09-22 17:29] Stranger6667 commented on #1269
Существует отдельная [опция](https://schemathesis.readthedocs.io/en/stable/cli.html?highlight=Code-sample-style#code-samples-style ) чтобы изменить это поведение. Там curl как раз поддерживается. Я давно хотел сделать curl вариантом по-умолчанию, возможно пришло время :)

Или все же имелось ввиду выводить оба варианта?

[2021-09-22 17:35] ivanych commented on #1269
А! Я извиняюсь, проморгал эту опцию.

Впрочем, думаю, действительно имеет смысл использовать по умолчанию именно curl - он универсальнее.

[2021-09-23 11:47] ivanych opened #1270 "[FEATURE] Добавить опцию для вадидации схемы"
Есть опция `--validate-schema BOOLEAN`, которая позволяет включать/выключать валидацию загруженной схемы перед запуском тестов.

Хотелось бы иметь опцию, позволяющую **только валидировать схему**, не запуская тесты. Не нашёл такую опцию и не понял, можно ли сейчас добиться такого эффекта.

Как мне это видится:

Опция `--checks` должна иметь ещё одно значение — `none`. Если указано `none` — никакие

[2021-09-25 14:39] wellenc-lex opened #1274 "[FEATURE] Proxy traffic + disable certificate verification"
1: Add --proxy function to proxy traffic thru other tools.

2: add --no-verify function to allow self signed certificate to proxy https thru tools.

(Error example: Error: requests.exceptions.SSLError: HTTPSConnectionPool(host='', port=443): Max retries exceeded with url: /v0/docs/openapi.json (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify fail

[2021-09-25 16:05] ultras5631 commented on #1274
Found out that theres a cli parameter --request-tls-verify false , which is not obvious and really hard to find in DOCs.
Would be nice to highlight it somehow.

Also the proxying could be done like that: http_proxy=http://localhost:8080 https_proxy=http://localhost:8080 schemathesis run

Hope it helps someone there.

[2021-09-25 16:11] ultras5631 opened #1275 "[FEATURE] Добавить возможность отправки запросов без генерации тестов"
Что хочется получить : запуск утилиты по схеме свагера, создать запрос на каждый путь со всеми представленными для этого пути параметрами(из examples или подставленными рандомно), пропустить каждый запрос через прокси чтобы использовать в другой утилите ( burp suite )

Что есть на данный момент: Можно использовать
--hypothesis-max-examples=1 --data-generation-method=negative

Но тогда подставляетс

[2021-09-25 16:12] Stranger6667 commented on #1274
@ultras5631

Thank you for opening this issue! I will update the docs on this matter and will keep this issue opened

[2021-09-25 16:15] Stranger6667 commented on #1275
Т.е. в идеальной ситуации хотелось бы по одному запросу на каждый эндпоинт в которых присутствует максимум параметров / полей ?

[2021-09-25 16:17] ultras5631 commented on #1275
Да, к примеру /getdate?id=1&datefrom=something&dateto=something&другойпараметр=значение вместо
/getdate?id=1&id=0000&id=true&id=-123 и т.д.

Чтобы запросов было мало, но при этом они включали все доступные этому пути параметры

[2021-09-25 16:24] Stranger6667 commented on #1275
Понятно, спасибо :)

Ниже немного заметок на эту тему (больше для меня на будущее)
Это можно было бы решить проверкой покрыта ли какая-то ветка в схеме (т.е. вызывать assume + опционально target) + модификацией схемы чтобы упростить задачу генератору.

[2021-09-25 17:47] mbiuki commented on #1267
-ve testing is an additional good value to fuzz testing. Can you provide some examples for API negative fuzz testing?

[2021-09-28 19:47] ivanych commented on #1270
@Stranger6667 что скажете? Можно сделать такую опцию?

[2021-09-28 20:40] Stranger6667 commented on #1270
@ivanych Пардон, дам развернутый ответ в течении пары дней. Но в кратце - да, я бы хотел видеть такую фичу в Schemathesis в перспективе

[2021-09-29 13:37] Stranger6667 opened #1280 "[FEATURE] Use case-insensitive dict for headers in `Case`"
**Is your feature request related to a problem? Please describe.**
If the user wants to modify headers in `case`, then only precise header names will work, but they should be case insensitive

**Describe the solution you'd like**
Convert generated headers to case-insensitive dict

**Additional context**
This change should slightly simplify writing tests in Python using Schemathesis

**Implementati

[2021-09-29 14:14] #1269 closed

[2021-09-29 15:15] Stranger6667 commented on #1274
Closed via ec91777

[2021-09-29 15:15] #1274 closed

[2021-09-29 15:32] Stranger6667 commented on #1267
What kind of examples would you like to have?

[2021-09-29 15:54] mbiuki commented on #1267
With negative testing, the fuzzer should send invalid input. Is that not what the fuzzer originally does? for example for integer values, it sends string and sees what happens with the output?

[2021-09-29 16:00] Stranger6667 commented on #1241
@DavidFarago

Sorry for my late response. Unfortunately, this is quite complicated as we are tied to Python's regex dialect, where Open API implies the one from ECMA-262. The simplest solution would be to translate regexes from ECMA-262 to Python on the fly, but the syntax and feature differences lead to quite many subtle complications.

In the future, I'd be happy to have support for more kinds o

[2021-09-29 16:05] Stranger6667 commented on #1267
By default, Schemathesis generates data that matches the API schema. Except for some cases like integer formats that are not supported by Schemathesis yet.

Yep, Schemathesis' negative testing uses a mutation-based approach - it mutates types, removes required properties, changes schema constraints, etc. Generally, it generates data that does not match the API schema.

[2021-09-29 18:48] Stranger6667 opened #1282 "[FEATURE] Provide a way to filter recorded cassettes"
**Is your feature request related to a problem? Please describe.**
To prevent leaking some sensitive information, it might be useful to allow the user to filter generated cassette

**Describe the solution you'd like**
A hook that will filter input data

**Implementation notes**
- Create a new `register_cassette_filter` function inside `cli/cassettes.py` and expose it in the root `__init__.py` file

[2021-09-29 18:59] Stranger6667 opened #1283 "[FEATURE] Specify auth via env vars"
**Is your feature request related to a problem? Please describe.**
Sometimes it is easier to use env variables to specify auth

[2021-09-29 19:21] Stranger6667 opened #1284 "[FEATURE] Improve Schemathesis.io integration"
This is a WIP issue where I put some thoughts about the integration.

Things to improve:
- The success message should not imply that the tests passed - "COMPLETED" would be a better word

[2021-09-30 20:16] ivanych commented on #1270
Попробовал CLI из jsonschema. Сообщения у них, конечно, не очень-то говорящие — в большинстве случаев `is not valid under any of the given schemas` и гадай — что именно там не так? Впрочем, для тестирования регрессии этого достаточно, спасибо за наводку!

jsonschema-rs — там только либа? Исполняемого бинарника там нет, или я плохо искал?

Самые хорошие сообщения об ошибках схемы выводятся вот тут

[2021-09-30 20:37] Stranger6667 commented on #1270
Пожалуйста :)

Есть бинарник - можно через `cargo install jsonschema` поставить (если Rust toolchain есть локально)

Постараюсь такое реализовать, спасибо :)

[2021-09-30 20:49] Stranger6667 opened #1286 "[FEATURE] Limit unicode categories used in generated strings"
**Is your feature request related to a problem? Please describe.**
When Schemathesis generates string data, it might contain a lot of non-ASCII chars that might not be much interesting for the end-user. E.g. often people ask how to exclude `\x00` because those failures are not interesting for them.

**Describe the solution you'd like**
A public API that will allow the user to define what chars are

[2021-10-01 07:38] Stranger6667 commented on #423
The failing request / response pair is already displayed in the CLI output. Showing the whole log will surely hurt readability. Cassettes should cover this use case

[2021-10-01 07:38] #423 closed

[2021-10-01 09:13] Stranger6667 opened #1287 "[FEATURE] Avoid parsing all endpoints at once in multi-worker execution in CLI"
**Is your feature request related to a problem? Please describe.**
When there are multiple workers specified for CLI, then it will parse all API operations at once and submit them to the task queue. If the API schema is big, then it will take a lot of memory

**Describe the solution you'd like**
Generate it on demand, when workers are ready to take the next test

[2021-10-01 12:24] leandronogSS commented on #1030
I would like pick up this issue. Could you assign it to me? 😄

[2021-10-01 14:01] leandronogSS commented on #1030
Is the example really correct? 🤔
![Captura de Tela 2021-10-01 às 10 59 49](https://user-images.githubusercontent.com/45565061/135632801-b1026cf4-aa93-45f7-a05e-6039ab99716b.png)

[2021-10-01 15:48] JangasCodingplace commented on #966
I would like to participate to that challenge!
Have no experience with your tool yet, but like your project from a high level point of view.

I am an experienced Python Dev and am working full-time in Data & Backend Engineering. We'll see if I am the right match for that issue.

If you gonna assign me to that ticket, I will start working on that latest at Monday

[2021-10-01 15:50] Stranger6667 commented on #1030
The generated example is not correct, indeed. The solution should be to escape single quotes there

[2021-10-01 15:54] Stranger6667 commented on #966
Hi @JangasCodingplace !

Awesome! Nice to e-meet you :) I will provide more details during the weekend

[2021-10-01 16:21] JangasCodingplace commented on #966
Cool! Thanks a lot and keep your time. ✌️😊

[2021-10-01 17:52] leandronogSS commented on #1030
I decided to release a problem, thank you

[2021-10-01 17:56] Stranger6667 commented on #1030
Sure! Thanks for taking a look :)

[2021-10-01 23:54] mbiuki opened #1288 "Docker container and cmd options"
I just found that Schemathesis has a Docker version too, which is great. I can fuzz with Schemathesis using Docker, hassle-free :-)

A few questions,

1. Do options used in CLI work for the Docker version, for example, if I have a local `openapi.yaml`, how can I pass it into the Docker container to start fuzzing it?

`docker run schemathesis/schemathesis:stable run <__local open api??__>`

2. How

[2021-10-02 06:44] Zac-HD commented on #1241
No, that's the "only" problem - but it's a fatal problem, which can't be solved without a proper parser for regex patterns.

The good news is that I think `greenery` would be suitable for that; one of my students implemented to- and from- Python regex syntax for it earlier this year and doing the same for js shouldn't be too hard.  That would make it easy to convert js-to-python regex, and also en

[2021-10-02 14:42] Stranger6667 commented on #923
In CLI, there is a single check by default, so nothing much to exclude. For Python tests, I am not sure what would be an API for this - it is easy to pass 4 checks explicitly, so I don't think it is worth implementing a separate way to exclude checks

[2021-10-02 14:42] #923 closed

[2021-10-02 15:51] Stranger6667 commented on #966
Hej @JangasCodingplace ! I updated the description with a few thoughts of how it might be implemented :) I'd be happy to elaborate

I'll add a more concrete action list later

[2021-10-04 03:31] Zac-HD opened #1289 "[FEATURE] Distinguish more errors for Hypothesis' shrinking logic"
Ideally, Schemathesis would produce a single minimal example of each distinct error.  We use Hypothesis' shrinking for this, which requires us to distinguish errors by exception type, code location, and `__context__`; and so Schemathesis creates new exception types for each distinct error message:

https://github.com/schemathesis/schemathesis/blob/7e71b00f285139c79d96d2dfb5cb16f6463e2544/src/schem

[2021-10-04 14:27] limkin092 opened #1290 "Unresolveable Dependency in schemathesis version 3.10.0[BUG]"
**Describe the bug**
Dependencies in schemathesis 3.10.0 can not be resolved. There is a mismatch in the sub-dependencies.
The incompatible versions in the resolved dependencies:
-  jsonschema<4.0.0,>=3.0.0 (from schemathesis==3.10.0)
-  jsonschema>=4.0.0 (from hypothesis-jsonschema==0.21.0->schemathesis==3.10.0)

**To Reproduce**
Steps to reproduce the behavior:
1. Create nur Python project (empt

[2021-10-04 17:10] Stranger6667 commented on #1290
Hi @limkin092

Thank you so much for reporting this! I'll fix it soon in a new release

[2021-10-04 19:23] #1290 closed

[2021-10-04 19:53] Stranger6667 commented on #1290
Fixed in `3.10.1`

[2021-10-04 20:44] limkin092 commented on #1290
Hi @Stranger6667,

Thank you very much for your effort 👍

[2021-10-04 20:48] Stranger6667 commented on #1290
@limkin092

You're very welcome :)

[2021-10-05 16:09] Stranger6667 opened #1292 "[FEATURE] Add Python 3.10 support"
We need:
- Trove classifier in the `pyproject.toml` file
- Builds

[2021-10-05 16:15] Stranger6667 opened #1293 "[FEATURE] Support for `jsonschema==4.0`"
To support Open API 3.1 we first need to bring the new `jsonschema` & `hypothesis-jsonschema` versions into the repo.

Update the dependencies & fix broken tests :)

At the moment it is blocked by https://github.com/Julian/jsonschema/issues/853
This kind of performance regression might make Schemathesis barely usable for Open API schemas (especially due to the impl details in `hypothesis-jsonschem

[2021-10-05 17:52] JangasCodingplace commented on #966
Hey @Stranger6667 sorry for delay, I am starting now and try to get an overview first

[2021-10-05 17:52] JangasCodingplace commented on #966
Thanks for all your advices

[2021-10-05 20:05] JangasCodingplace commented on #966
Could you give me a quick code Snippet of how you currently implement an authentication?
It's not about solving the issue, it's an example:

imagine there is a single test which requires an authentication token.
How would you currently implement it without refreshing?

I am finally able to debug everything in PyCharm and have used poetry for project setup.
Now I need to find an entry point into th

[2021-10-06 12:12] Stranger6667 commented on #1292
@Pentusha Hi! Long time no see :)

Thank you for sharing this :) Looks like indeed we need to wait a bit for the new `requests` / `certifi` versions

[2021-10-06 19:45] JangasCodingplace commented on #966
My Draft:
https://github.com/schemathesis/schemathesis/pull/1295

Please make a high level review. I haven't look at black formatting and listing yet. Will do it as soon as I finalise the project.
Before I spent more time into it, a first high-level review would be nice

Thanks a lot!

[2021-10-06 19:49] Stranger6667 commented on #966
@JangasCodingplace Thanks, I'll reply tomorrow morning :)

[2021-10-12 02:34] doraeric opened #1297 "[BUG] oneOf doesn't work as expected"
**Describe the bug**
Using `oneOf` in response content schema doesn't work as expected, it failed while it should pass

**To Reproduce**
Steps to reproduce the behavior:
1. save the yaml below
2. run `schemathesis run --base-url https://ipinfo.io --checks all ./example.yml` and see failed

If possible, please post a minimal version of your API schema that cause this behavior:

[code]

**Expected b

[2021-10-12 12:02] ghost opened #1298 "[BUG] Can't define expected examples under "given" schema"
How can I define max_examples value with schema definitions?

For example in this context it's run more than once.

[code]

Thank you

[2021-10-13 01:50] braco opened #1299 "[REQUEST FOR DOCUMENTATION] docker with local spec"
It's nice to run docker instead of dealing with pip on different machines.

However, it's not clear how to get a local schema file into docker.

[code]

This would yield `Error: Invalid SCHEMA, must be a valid URL or file path.`, which makes sense.

Think the answer is to mount:

`docker run -v $PWD/build:/mnt/build schemathesis/schemathesis:stable run /mnt/build/spec.yml -b https://api.com -H "X-

[2021-10-13 07:48] doraeric commented on #1297
Thank you for the explanation!
I am learning OpenAPI and the explanation helps me understand better.
The suggestion did what I want, thank you!

[2021-10-13 22:48] mbiuki commented on #1288
Additionally, I face this issue when spinning up the docker version of the Schemathesis:

[code]

[2021-10-14 12:39] PavelGrOr commented on #1298
Thanks for the explanation. It's actually reproduced only on failures. Thank you for schemathesis!

[2021-10-14 14:28] #1298 closed, assigned to Stranger6667

[2021-10-16 10:36] Stranger6667 commented on #1289
Hi @Zac-HD !

Thank you for creating an issue about this! :) I am inclined to think that having access to the underlying exception would be the best way to go in principle. However, as, generally, HTTP response content is opaque, we might need to have some kind of an agent on the application side (similar to what Sentry is doing) to get the data to re-create the exception on the Schemathesis side.

[2021-10-16 10:53] Stranger6667 commented on #1299
Done via c55fde2

[2021-10-16 10:53] #1299 closed

[2021-10-16 11:21] Stranger6667 commented on #1288
Hi @mbiuki

Sorry for not getting back to you earlier!

Thanks for reporting! This bug was fixed in 56bc46be205094884e750429f8e2fee3272354a7, but the Docker build failed as I was hurrying and force pushed that fix and forgot to re-run the build job. The current `latest` tag has this fix.
Though, I'd generally recommend using the `stable` tag instead:

[code]

Yep, the options are exactly the same.

[2021-10-16 11:51] Stranger6667 commented on #1297
@doraeric you're very welcome :) Let me know if I can provide more info

Added a new FAQ entry to the docs, so closing this. The error message improvements are tracked separately

[2021-10-16 11:51] #1297 closed

[2021-10-21 12:36] Stranger6667 opened #1303 "[FEATURE] Generate headers for debugging"
**Is your feature request related to a problem? Please describe.**
When the user debugs the test, it might be beneficial to have a separate unique request-id, that Schemathesis will send with each request.

**Describe the solution you'd like**
Generate `X-Schemathesis-Id` inside each `call` call

**Additional context**
Comes from the discussion with @ludeknovy

[2021-10-21 12:41] Stranger6667 opened #1304 "[FEATURE] Relax requirements on schema validity"
**Is your feature request related to a problem? Please describe.**
It often confuses people when they run Schemathesis on a seemingly valid schema. We might demote the failure-by-default behavior to a warning, and or even disable schema validation by default

Also, we can improve the docs on this matter as well

[2021-10-22 12:04] jschennings opened #1305 "[BUG] @app.on_event("startup") not triggered when using schemathesis.from_asgi() for fastapi==0.70.0"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
When using `schemathesis.from_asgi(app, "/openapi.json")` the `@app.on_event("startup")` in our init_app function i

[2021-10-26 09:44] Bidaya0 opened #1306 "[BUG] Internal error when generated data does not match expected serialization input"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
The schemathesis was throw an error during testing and was not captured correctly
ValueError: too many values to un

[2021-11-01 15:58] Stranger6667 opened #1319 "[REQUEST FOR COMMENT] Documentation meta-issue"
Before releasing `3.11`, I'd like to improve the documentation.

Here are the major blocks I have in mind:

- [ ] Core concepts. An intuitive-level explanation of what Schemathesis is and what problems it solves. The main goal of this block is to build a high-level understanding of the project in the end-user's mind. E.g. what one might expect from Schemathesis, how many tests it generates and why

[2021-11-01 16:05] hoog1511 opened #1320 "[FEATURE] Examples in nested objects"
**Is your feature request related to a problem? Please describe.**
I am working with an application which allows a user to post a object which has nested objects/arrays as parameters. When I run Schemathesis tests using the OpenAPI schema I setup for the application the first testcase shown in the debug outputfile does not contain said object/array and their parameters in the body of the request.

[2021-11-01 16:14] Stranger6667 commented on #1320
Thanks for reporting!
Indeed, it is a limitation I'd be happy to lift off - I was planning to revise the example generation code, so it would be definitely within the revision scope.

[2021-11-01 17:39] #1287 closed

[2021-11-02 09:50] #1030 closed

[2021-11-02 11:38] #1280 closed

[2021-11-03 15:19] Stranger6667 opened #1323 "[FEATURE] Show tests as "SKIPPED" if there are no tests for some endpoint at all"
**Is your feature request related to a problem? Please describe.**
If the user runs CLI with `--hypothesis-phases=explicit`, but there are no explicit examples, then tests are marked with green dots and the summary shows "Passed"

**Describe the solution you'd like**
Indicate such individual tests with a yellow "S" (similar to `pytest`), show the number of "skipped" tests in the summary + color th

[2021-11-03 15:33] Stranger6667 opened #1324 "[FEATURE] Add `--hypothesis-no-phases` convenience CLI option"
**Is your feature request related to a problem? Please describe.**
If the end-user wants to exclude the `explicit` phase via CLI, then the only option is to use the `--hypothesis-phases` CLI option and enumerate all enabled phases explicitly. Though, if Hypothesis adds a new enum option (as it happened with `explain`), then updating the Hypothesis version might implicitly enable a new phase, which

[2021-11-04 10:37] Stranger6667 commented on #1142
FYI, the fix for the recent issue is released in 3.11

[2021-11-08 14:53] Stranger6667 opened #1325 "[FEATURE] Improve KeyboardInterrupt handling"
**Is your feature request related to a problem? Please describe.**
When `KeyboardInterrupt` happens outside of [this block](https://github.com/schemathesis/schemathesis/blob/master/src/schemathesis/runner/impl/core.py#L258), then we won't have `Interrupted` event as expected, but the actual `KeyboardInterrupt` exception instead. It should be changed for consistent behavior on CTRL-C

**Describe th

[2021-11-09 14:02] Stranger6667 opened #1326 "[FEATURE] Configure Hypothesis DB via CLI"
**Is your feature request related to a problem? Please describe.**
Sometimes end-users would like to put `.hypothesis` to a different location or do not output at all.

**Describe the solution you'd like**
Provide `--hypothesis-database` that will accept some value to configure the Hypothesis database. E.g.
- `None` - do not use the DB at all
- `:memory:` - in memory DB (similar to SQLite)
- `<pat

[2021-11-16 07:15] alex-feel commented on #494
I believe it will require at least [Draft 2020-12](https://json-schema.org/draft/2020-12/json-schema-core.html#rfc.section.4.2) support. There are interesting articles on the OpenAPI Initiative website about migrating from OpenAPI 3.0 to 3.1.0, they are [here](https://www.openapis.org/blog/2021/02/16/migrating-from-openapi-3-0-to-3-1-0) and [here](https://www.openapis.org/blog/2021/02/18/openapi-s

[2021-11-17 17:34] kevgliss commented on #1081
I also ran into this, essentially I have an entity that requires a unique field (e.g. name) schemathesis attempts to create the same entity twice. The first succeeds, but the second fails because we return a 400 status code due to the name conflict. This get's reported as flaky but is actually expected behavior.

Resetting the server is a big lift for tests that already take quite a long time to r

[2021-11-17 18:19] Stranger6667 commented on #1081
Thanks for providing more context! I will try to allocate some time to work on it next week

[2021-11-19 07:07] Skobolov commented on #494
Great idea! You will be one of the first to support OpenAPI 3.1 testing! Do you already have any plans for when you would like to implement?

[2021-11-19 16:16] GvandeSteeg opened #1327 "[FEATURE] New check: At least one 2xx response"
**Is your feature request related to a problem? Please describe.**
It feels like my Schemathesis test returns a false positive. I have a small api with a POST to upload a file associated with a UUID. I'm still figuring out how to get flask-restx to properly read that I'm asking for a UUID, so the swagger.json still presents a regular string. As expected, Schemathesis is firing random strings at th

[2021-11-20 00:05] quaterneon opened #1328 "[FEATURE] Upgrade click to version 8"
**Is your feature request related to a problem? Please describe.**
I have a dependency management issue due to the outdated version of click used by this library.

**Describe the solution you'd like**
 Please update pinned version of click to `^8.0.0`. A significant number of changes were made with this version: https://click.palletsprojects.com/en/8.0.x/changes/

**Describe alternatives you've co

[2021-11-20 09:58] Stranger6667 commented on #1328
Thanks for reporting & implementing it! Much appreciated

Resolved via #1329

[2021-11-20 09:58] #1328 closed

[2021-11-20 17:18] Stranger6667 commented on #1328
Released in `3.11.1`

[2021-11-20 19:14] Stranger6667 opened #1330 "Improve docs on operation filters"
As #1256 is still in progress + the current filtration system will stay for a while, we need to document weird filters' behavior. It mostly comes from the fact that all strings in `endpoint`, `method`, etc filters are treated as regular expressions.

Ref: https://github.com/cleder/book-request/issues/1

[2021-11-21 19:32] Stranger6667 opened #1331 "[BUG] `data_generation_methods` is ignored if defined for a schema loaded by `from_pytest_fixture`"
[code]

It should generate test cases for each applied data generation method, but it doesn't.

[2021-11-23 16:52] Stranger6667 commented on #1327
Hi @GvandeSteeg

Thank you for opening this issue and providing the context in such detail! :)

Maybe adding the "format" keyword and defining a [custom string strategy](https://schemathesis.readthedocs.io/en/stable/extending.html#custom-string-strategies) could help here. For example:

[code]

For CLI it will require using the `pre-run` hook:

[code]

The check itself makes complete sense to me a

[2021-11-23 18:02] Stranger6667 commented on #1147
Hi @Lakitna

Sorry for being silent for so long :(

Thank you for sharing your feedback and a working solution for this issue! Much appreciated :)

What kind of tooling they are used to? I was thinking about working on multi-language hooks in Schemathesis (like Dredd supports)

Recently I was thinking about switching off the schema validation by default & transforming schema errors into checks. If

[2021-11-23 19:28] #1325 closed

[2021-11-24 01:47] DanLipsitt opened #1335 "[FEATURE] Direct web app (ASGI/WSGI) testing from python tests"
It seems that python tests using `schemathesis.from_asgi` are run using Requests, and expect a server to be running. I would like to run the tests directly as happens with `schemathesis run --app` on the command line. If this is already possible I was not able to figure out how by reading the docs and searching the code.

[2021-11-25 13:08] Stranger6667 commented on #1335
Hi @DanLipsitt

Thank you for opening the issue :)

Here are some details of how things are composed for the ASGI case (WSGI is similar):

CLI [imports](https://github.com/schemathesis/schemathesis/blob/589be99efeb7305550e2823c465bf0dbf21fc9cd/src/schemathesis/cli/__init__.py#L653) the app, then automatically uses `from_asgi` for ASGI apps, and makes calls via [case.call_asgi](https://github.com/s

[2021-11-26 13:30] Lakitna commented on #1147
It is actually quite easy to create a situation where every response will be a 4xx code. Some examples:

1. Not adding an authorization header to the schema will result in every request returning a 401. Solution: add the auth header to the schema.
2. The schema misses a required parameter causing every call to return a 400. Solution: add the missing parameter to the schema.
3. Not having your appl

[2021-11-28 19:13] Stranger6667 opened #1336 "[FEATURE] Let the user know if no API operations match the given filter"
**Is your feature request related to a problem? Please describe.**
If a path is renamed, then some tests might be silently skipped.

**Describe the solution you'd like**
Raise a warning / fail if for some generated tests there are no matches

[2021-11-29 02:43] DanLipsitt commented on #1335
Thanks for your reply, @Stranger6667!

My setup is very similar to the one in the #1305 bug you linked. I am getting the following error:

[code]

This error from requests was deeply confusing at first because the library has a typo and means "scheme" (eg `http`) when it says "schema." This doesn't appear to be a schema error. All my endpoints produce this same error.

If this isn't enough info, I

[2021-11-29 08:31] Stranger6667 commented on #1335
Indeed! I think I also had this error when I was checking one other issue, as far as I remember it was related to `base_url`.
So, it would be nice to prevent this kind of errors altogether - e.g. catch that `requests` error and reraise something more appropriate (or change the loaders API to avoid such combination of inputs).

You're very welcome! It would be great if you could provide a code samp

[2021-11-29 12:22] #1331 closed

[2021-11-29 14:14] #1336 closed

[2021-11-29 22:07] Stranger6667 opened #1340 "[BUG] Hooks are not inherited from the wrapped schema in `from_pytest_fixture`"
**Describe the bug**
Hooks are unconditionally overridden when the schema is loaded

**To Reproduce**

[code]

In this example, hooks defined on `loaded` are ignored. Intuitively I'd expect hooks being stacked the same as `loaded` and `schema` are the same object

[2021-11-29 23:04] #1340 closed

[2021-11-30 09:54] Stranger6667 commented on #1330
Done via ed3762b

[2021-11-30 09:54] #1330 closed

[2021-11-30 18:16] Stranger6667 opened #1342 "[BUG] Lazy schemas do not raise an error if no API operations match the filter"
**Describe the bug**
When an API schema is loaded from a pytest fixture, and combined filters will have no matches, then no error will be emitted. It should be the same behavior as for non-pytest-loaded fixtures.

**To Reproduce**

[code]

[2021-12-01 19:31] Stranger6667 commented on #1147
@Lakitna

Thank you so much for providing the details! These cases are definitely something where the UX could be improved :)

I'll try to draft something in the next couple of weeks :) So, we can discuss it with some more concrete examples

[2021-12-01 19:36] Stranger6667 opened #1343 "[BUG] Schemathesis silently fails to report numeric status codes for schemas with common "parameters""

[2021-12-01 20:34] #1343 closed

[2021-12-02 10:40] #1342 closed

[2021-12-02 13:30] Lakitna commented on #1147
I've discussed this internally, and we're interested in learning more about this. Can you share the scope/purpose of the SaaS platform compared to the core? The website is a bit sparse on information at the moment ;)

[2021-12-07 11:57] hoog1511 opened #1349 "[FEATURE] prevent empty input in testcases"
**Is your feature request related to a problem? Please describe.**
Not to my knowledge

**Describe the solution you'd like**
I would like to be able to prevent empty input in testcases when I add minlength, minimum or required to a parameter within a schema. In my experience most of my testcases tend to have empty values given to the parameters that have these properties/field.

**Describe alterna

[2021-12-07 13:06] GvandeSteeg commented on #1327
Hi @Stranger6667, thanks for getting back to me so quickly! Apologies for going AWOL, I fell sick shortly after submitting this and didn't have the energy to read through your reply.

I see there's more of a conversation going on the other issue so i'll read up there too

[2021-12-08 18:29] Stranger6667 commented on #1349
Hi!

Thanks for reporting! By empty values, do you mean strings composed entirely from whitespace or strings with size 0? #801 might be related to this, but it highly depends on schema complexity.

If the matter is about strings containing only whitespace, then the shrinking process might be in the play. Hypothesis minimizes the examples, and it tends to minimize strings to simple values like whit

[2021-12-08 19:05] hoog1511 commented on #1349
#801 does seem to be related to my issue. To clarify, I want no whitespace for my values because the application I am testing is quite strict with the values required to get happy flow (200, 201, etc.) responses. I think due to the nesting of objects in the application, schemathesis somehow can't find the configurations I have given for parameters (required, minLength, patterns, etc.) and tends to

[2021-12-09 16:11] hoog1511 opened #1350 "[BUG] regex patterns giving invalid values"
**Checklist**

- [ ] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
My regex patterns tend to generate a lot of values which exceed the maximumLength I provide inside the regex itself. I get a lot of values which end with "\n" for some reason. When I provide a similar pattern for a header it has a lot less deviations fr

[2021-12-13 09:42] hoog1511 commented on #1350
I have also found out that if you dont add maxLength (next to the regex) for schemathesis version 3.10.1, that the "\n" are added to the generated value. Another version I was using (3.9.7) did not have this issue, but did add "\n" when a "$" was part of the regex pattern (for variables but not headers).

[2021-12-14 21:02] Stranger6667 commented on #1350
Hi!

Sorry for the late reply and thank you for providing a detailed report!

The reason for this behavior comes from how `$` is treated in Python regular expressions & using the multiline mode. `$` matches immediately before a newline character if the multiline mode is used. FWIW, it works the same way with PCRE, Golang, JavaScript, or Java regular expressions as far as I know. See [this page](ht

[2021-12-15 00:12] Zac-HD commented on #1350
`fullmatch=True` won't help here, sadly, though maybe... hmm.  See https://github.com/schemathesis/schemathesis/issues/1241 (duplicate issue) for some ideas.

[2021-12-15 00:17] Zac-HD commented on #1241
Looking at this more closely, I think we actually can solve this *specifically for the special case of `$` by adding a reasonably small special case to Hypothesis internals, and hooking into that from `hypothesis-jsonschema`.

That means we'll cover the entire [recommended subset](https://json-schema.org/understanding-json-schema/reference/regular_expressions.html), and while I'd still *like* to d

[2021-12-15 10:46] Zac-HD commented on #1241
[`hypothesis-jsonschema >= 0.22` has a fix for this](https://pypi.org/project/hypothesis-jsonschema/); upgrade and you'll get it for free.

(I imagine @Stranger6667 will shortly issue a new Schemathesis version depending on said minimum version.)

[2021-12-15 11:07] Stranger6667 commented on #1241
@Zac-HD Thank you for a quick fix! Unfortunately, upgrading `hypothesis-jsonschema` will require upgrading `jsonschema` to `4.x` which has [a significant performance regression](https://github.com/Julian/jsonschema/issues/853). I didn't measure the exact effect for Schemathesis, but I am somehow hesitant to upgrade `jsonschema` until that issue is fixed :( My assumption is that that effect is part

[2021-12-15 14:01] Zac-HD commented on #1241
FWIW I'd also be happy to re-add support for jsonschema v3, if that ends up being easier; it was a fairly trivial "there are some semantic changes and it's a pain to get good test coverage of both, so just the new one then".  Maybe a day or two of work all up.

[2021-12-19 09:24] joka commented on #1144
Very helpfull example.

[2021-12-19 13:36] Stranger6667 commented on #1241
With the recent `jsonschema` release, I think that the performance regression is within an acceptable range - the library does more work with location-independent identifiers and new keywords. OP reported only ~50% slowdown compared to `3.2` vs ~430% of the original slowdown with `4.0`. So, it might be easier to upgrade `jsonschema` to `4.3.1` :)

[2021-12-20 11:06] Stranger6667 commented on #1173
Implemented in #1351

[2021-12-20 11:06] #1173 closed

[2021-12-20 14:47] #741 closed

[2021-12-21 17:35] #1292 closed

[2021-12-21 17:36] Stranger6667 opened #1359 "[BUG] Schemathesis sometimes can generate invalid Python code samples"
For example:

[code]

See this job - https://github.com/schemathesis/schemathesis/runs/4597816709?check_suite_focus=true

[2021-12-22 10:27] TradingMarius opened #1360 "[BUG] Multiple Examples do not work in explicit mode"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
When I run schemathesis with the `explicit` flag,
schemathesis does not only run the provided examples, but also ad

[2021-12-22 15:13] Stranger6667 commented on #1360
Hi!

Thank you for a detailed report! This behavior is likely caused by the fact that Hypothesis re-tries failed examples multiple times even on the `explicit` phase. I almost finished a FAQ entry on this matter a few weeks ago, but it is still not there. There is an open issue to implement a way to disable this behavior - #1081

On the Schemathesis side, we generate some feasible number of combin

[2021-12-22 15:59] TradingMarius commented on #1360
Thanks again for your quick reply! :)
I am not sure if this is caused by retrying failed examples.

I registered a `before_add_examples` hook
[code]
now that just prints the examples:

[code]
We already have the example where `param1` is set to `0` in there.

What is weird is, that it does not generate any examples with a valid `param1` and the `api_version` set somehow.

Maybe I can filter out th

[2021-12-22 16:27] Stranger6667 commented on #1360
Hm, it looks like the examples "merging" logic doesn't do it properly, as if there are two params with examples, it should contain a combination with both of them.

Yep, the main thing to do inside `before_add_examples` is to modify `examples` in place by adding new ones or removing/modifying existing ones

[2021-12-23 09:32] TradingMarius commented on #1360
Thanks again! I will try to do that.
BTW I love schemathesis. It fits perfectly to our use case!

[2021-12-23 12:45] Stranger6667 commented on #1360
Happy to help! :)

Great to hear that :) As I am planning new features and want to improve current workflows, I'd be happy to learn more about your use case - so, if you could share it with me (here/gitter chat/email), it would be awesome! :)

[2021-12-23 16:59] petkostas commented on #1360
I might be experiencing the same issue, though I am not getting a detailed report (should I open another ticket for this?), just `Hypothesis found 3 failures in explicit examples.` (bellow it's a modified output of the test)

[code]

[2021-12-27 10:56] vikahl opened #1362 "[FEATURE] Update typing-extensions requirement to allow >4"
**Is your feature request related to a problem? Please describe.**

I get dependency problems when installing `schemathesis==3.11.7` together with my other dependencies.

[code]

**Describe the solution you'd like**

Loosen`typing-extension` requirement to allow `>4.0`.  I don't have enough context to know if just creating a PR will be enough.

[2021-12-28 09:15] Stranger6667 commented on #1362
Hi! Thanks for reporting :)

Yeah, I think that creating a PR that changes the dependency should be enough

[2021-12-28 12:50] Stranger6667 commented on #1362
Let me know if you'd like to submit a PR :) If not, I'll add it during this week

[2021-12-28 13:40] #1241 closed

[2021-12-28 13:40] #1350 closed

[2021-12-29 12:56] vikahl commented on #1362
Thanks, I'll create a PR today.

[2021-12-29 14:16] #1362 closed

[2021-12-31 12:09] jswk opened #1366 "[BUG] call_asgi doesn't respect base_url"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**

At least for the `call_asgi`, the base path is ignored despite setting a proper `server` key in yaml or passing `b

[2021-12-31 13:56] Stranger6667 commented on #1366
Hi @jswk

Thanks for reporting and providing clean reproduction steps!
The problem is that `Case.call_asgi` has `http://testserver` as the default value for `base_url`. Though, generated code samples have the right path. As a temporary workaround:

[code]

I'll work on a fix

[2021-12-31 14:43] #1366 closed

[2021-12-31 14:53] Stranger6667 commented on #1366
Fixed in `3.12.1`! Thanks once again for reporting it :)

[2021-12-31 14:53] jswk commented on #1366
Great! Thanks for a swift response!

[2021-12-31 15:02] marcosanchotene opened #1368 "[BUG] API returns error that is not marked as a failed test"
**Checklist**

- [ X ] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [ X ] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Bug description**
A request sent without a required field that is not correctly configured as required in the OpenAPI specificatio

[2022-01-03 10:58] TradingMarius commented on #1360
I found somewhat of a quick fix for my problem. I changed the second parameter to use the `examples` keyword instead of `example`. It looks like this now:
[code]

This produces a better outcome for us:
[code]

This is not excactly what it should be, but works better. It does not work when using more than 1 example for the `api_version` though.

I can share a little bit regarding our use case in pr

[2022-01-06 17:08] Stranger6667 commented on #1360
@petkostas

Hi! Sorry for not getting back earlier. Yes, please, open a separate issue - at least from the first glance it looks like a problem in a different place. I'd appreciate details about your setup :) Thanks

[2022-01-06 17:09] Stranger6667 commented on #1360
@TradingMarius

Yep, I'd appreciate the schema :) Feel free to share it with me via gitter

[2022-01-06 17:28] Stranger6667 commented on #1368
Hi @marcosanchotene

Thank you for reporting and the detailed write-up!

I think that this dependency between mistakenly missing required property (as you mentioned it is a known issue) and 400 response makes sense for **some** applications, but not for all applications. I am not aware of such a relationship is defined in the Open API spec (likely not), and generally, 400 might be caused by someth

[2022-01-06 17:36] Stranger6667 commented on #1349
@hoog1511

Sorry for not getting back to you earlier. If Schemathesis generates only whitespace for the schema above, then it is definitely a bug. If whitespace is happening only at the end of generated strings, then it is likely should be fixed by #1361 (released in 3.12). Let me know the new release fixes the issue, otherwise, could you please, share your API schema (partial/anonymized is OK)?

[2022-01-06 17:37] Stranger6667 commented on #1327
Hi @GvandeSteeg

Let me know if #1147 describes this problem - if so, then I think we can close this one as a duplicate.

[2022-01-06 18:23] Stranger6667 commented on #1147
Sorry for not getting back earlier :)

Generally, SaaS will be able to uncover more bugs in a wider range of scenarios and display them much nicer than CLI.
Here is a list of extras that will be included in SaaS:

- More checks - security, performance, more detailed checks on Open API & GraphQL
- Better data generation that is more likely to uncover issues
- Wider API specs support - gRPC, AsyncAP

[2022-01-07 08:32] Stranger6667 commented on #1360
@petkostas Just to ensure - I have a similar problem when running tests via PyCharm, because it adds `-q` to `pytest` arguments.

[2022-01-07 09:43] #1359 closed

[2022-01-07 15:33] GvandeSteeg commented on #1327
Hi @Stranger6667

Yes I believe it does!
Feel free to close and thanks for looking into it

[2022-01-07 15:43] #1327 closed

[2022-01-11 13:42] marcosanchotene commented on #1368
Thanks for your reply, @Stranger6667 . I understand what you mean by depending on the application implementation, but I think that most applications would reject a request sent without a required property, probably within the 400-499 range. Also, a 400 response is a client error, so it's also an error by definition. Anyway, I can write the custom check, but wanted to clarify this issue with you be

[2022-01-13 08:19] gluhar2006 opened #1370 "[BUG] Avoid generating illegal surrogates for list query parameters"
**Describe the bug**
There could be an error like this: `UnicodeEncodeError: 'utf-8' codec can't encode character '\udf06' in position 17: surrogates not allowed`.

**To Reproduce**
OpenApi schema to reproduce:

[code]
or
[code]

**Expected behavior**
Avoid illegal surrogates generation for the described case

**Environment (please complete the following information):**
(generally unimportant)
- O

[2022-01-13 08:43] Stranger6667 commented on #1370
Hi @gluhar2006

Thank you for reporting and for a quick fix! :) Indeed, the current version allows such cases

[2022-01-13 10:26] #1370 closed

[2022-01-13 11:57] Stranger6667 commented on #1370
The fix is released in `3.12.3`

[2022-01-15 21:38] Stranger6667 opened #1372 "Improve an error on malformed path templates"
Now a path like `/foo}/` will cause a `ValueError` and halt the execution with something like this:

[code]

It could be a better message that contains the full string + it shouldn't halt test execution

Steps:
- Create a new `MalformedPathTemplate` error in [exceptions.py](https://github.com/schemathesis/schemathesis/blob/master/src/schemathesis/exceptions.py)
- Catch `ValueError` in [Case.format

[2022-01-18 14:21] Stranger6667 opened #1373 "[FEATURE] Support comma separated list for `--checks`"
**Is your feature request related to a problem? Please describe.**
It would be an improvement for UX.

`-c status_code_conformance -c not_a_server_error -c response_headers_conformance`

vs.

`-c status_code_conformance,not_a_server_error,response_headers_conformance`

This behavior will be similar to `--hypothesis-phases`

[2022-01-21 14:49] Stranger6667 commented on #1065
Additionally/alternatively it would be nice to investigate pairwise testing for the current implementation. Similar to https://github.com/pairwise-testing/python-allpairspy

[2022-01-21 16:30] Stranger6667 opened #1375 "[FEATURE] Output individual Hypothesis tests as subtests"
**Is your feature request related to a problem? Please describe.**
It might improve clarity if the end-user will see more details of what examples failed and what not

**Additional context**
This approach was proposed via support channels. There are some fundamental challenges of integration between Hypothesis & pytest, so it might be problematic to do as of now, but maybe we can solve it in the f

[2022-01-28 15:02] serieznyi opened #1376 "[BUG] Explicit mode and GET request without examples"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
Schemathesis in explicit mode doesn't send any request to URL what doesn't have examples.
Also test of this request

[2022-01-30 17:32] Stranger6667 commented on #1376
Hi @serieznyi

Thank you for opening this and providing a detailed report! Indeed, we need better docs for phases. Schemathesis follows the Hypothesis behavior where the `explicit` phase executes only examples provided via the `example` decorator. For example, the following snippet would indicate 1 passed test, though the test's body always raises an exception:

[code]

I definitely agree that it

[2022-01-30 19:37] serieznyi commented on #1376
I want to apologize in advance for the potentially stupid argumentation because I don't work with Python and don't knew how tight relations beetwen Schema and Hypothesis

I agree that #1323 must be first step for decisions this problem, because UI literally not notify me about not executed test case.

What I don`t understand:

In `generate` phase Schemathesis generate next `Case` for `APIOperation

[2022-02-01 19:07] Stranger6667 opened #1377 "[FEATURE] Show the cause of InvalidSchema"
**Is your feature request related to a problem? Please describe.**
It may be not clear what caused `InvalidSchema` on some API operations. E.g. it could be an unresolvable JSON pointer, but it is not clear from the output

**Describe the solution you'd like**
Show the underlying issue

[2022-02-02 16:28] schicks opened #1378 "[BUG] schema decorator does not play nice with pytest marks"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
Because schemathesis can be quite slow and requires a testing version of the API to be set up, we have it behind `p

[2022-02-03 08:40] Stranger6667 opened #1379 "[FEATURE] Rerun last failures for CLI"
**Is your feature request related to a problem? Please describe.**
Similar to what pytest is doing via its `--lf` command - it would simplify the test & fix loop

**Describe the solution you'd like**
Add a new CLI option exactly like in `pytest`

**Additional context**
Asked via Telegram

[2022-02-04 11:55] niya3 opened #1381 "[BUG] `schemathesis run --stateful=links` doesn't follow links even in example project"
**Describe the bug**
`schemathesis run --stateful=links` doesn't follow links even in example project in the second and subsequent runs. Even total cases numbers are different.

**To Reproduce**
1. `pip install schemathesis==3.12.3`
1. `cd example && docker-compose up`
2. `export SCHEMA_URL="http://127.0.0.1:5000/api/openapi.json"`
3. run command and see, how it follows links in API schema for the

[2022-02-08 08:11] RifaaD opened #1382 "Malformed Type "text" in hyptohesis schemathesis run"
**Issue:** Malformed media type "text" in content_type_conformance checks

1. Malformed media type: `text <Deleted information due to security>

Issue comes back as 401 error and is replicated after every run with 401 text/html response in schemathesis oas file.
Any idea on potential fixes for this issue and expected base problem?

[2022-02-08 08:48] Stranger6667 commented on #1382
Hi @RifaaD

Could you, please, share your API schema? Generally speaking, media types in Open API should follow [RFC 6838](https://datatracker.ietf.org/doc/html/rfc6838) where "text" does not (it is only `type-name` & missing `subtype-name`), hence the issue. A valid media type would be "text/plain" or "text/html".
Note that the check refers to what is declared in the schema, not to the "Content-T

[2022-02-09 08:57] niya3 opened #1383 "[FEATURE] Display the total number of stateful links in CLI output"
**Is your feature request related to a problem? Please describe.**
1. Sometime it isn't easy to get, if schemathesis recognized all it's input args. E.g. adding `--stateful=link` to args doesn't change the header at all.
1. It would also be very handy to print number of detected linked API operations in stateful mode (like, `Collected **linked** API operations: $M`) additional to current `Collecte

[2022-02-09 09:02] niya3 opened #1384 "[FEATURE] Print seed in header printed at `schemathesis run`"
**Is your feature request related to a problem? Please describe.**
I wan't to know the generated `seed` value even when `schemathesis run` ended without errors **or** checks weren't started **or** if checks were interrupted (in case the `schemathesis run` or my server or both are hanging). It could be interesting to reproduce run with this seed and try to detect the root of the issue.

**Describe

[2022-02-09 09:17] niya3 opened #1385 "[FEATURE] add option to forbid arbitrary HTTP status codes"
**Is your feature request related to a problem? Please describe.**
Linked with https://github.com/schemathesis/schemathesis/issues/826

I wan't to clearly know if i have issue with the authorisation header provided to schemathesis. But if `401` status code is declared in schema among server responses, then schemathesis considers that check was ok.

**Describe the solution you'd like**
It would be

[2022-02-09 10:17] niya3 commented on #1381
w/a: remove directory `.hypothesis/` from the `rootdir` and stateful mode is back

[2022-02-09 10:32] niya3 opened #1386 "[BUG] dry-run doesn't follow links in the stateful mode"
**Describe the bug**
Linked with https://github.com/schemathesis/schemathesis/issues/1383
If i run schemathesis in _dry-run_ mode it doesn't follow links from schema in _stateful_ mode and i can't guess, if i have error in my schema or it's related with schemathesis.

**To Reproduce**
0. remove `.hypothesis` direcotry from `rootdir` to 'workaround](https://github.com/schemathesis/schemathesis/issu

[2022-02-09 14:51] serieznyi commented on #1385
I have same problem with Authorization header and my solution - define own `check`.

[code]

Or use `check`, which throw exception if `case` have defined authorization header and `response` status code is 401

[code]

![image](https://user-images.githubusercontent.com/2323142/153225743-a0e0cbfe-d059-425a-9414-333b93a4e32b.png)

[2022-02-10 02:00] DanLipsitt commented on #1335
I've opened https://github.com/awtkns/fastapi-crudrouter/pull/141 to add Schemathesis tests to that project. Those tests trigger the same issue described here, so hopefully you can use it as a reproduction and kill two birds with one stone.

[2022-02-14 08:37] geeeez opened #1390 "[FEATURE]"
How to write Python code and run it directly instead of relying on pytest to call the written demo on the command line。
Whether schema provides such an interface, which can be run directly through Python code rather than tested with pytest on the command line.
<img width="758" alt="image" src="https://user-images.githubusercontent.com/29922543/153828123-82db4059-7e9b-415e-836a-9e8c521e29b1.png">

[2022-02-15 17:48] DanLipsitt commented on #1335
CI for https://github.com/awtkns/fastapi-crudrouter/pull/141 appears to be waiting on maintainer approval, but you can see the issue if you check out
[my branch](https://github.com/DanLipsitt/fastapi-crudrouter/tree/105_schemathesis_tests).

[2022-02-16 13:10] hoog1511 opened #1393 "[BUG] 5xx status code"
**Describe the bug**
I'm currently trying to perform schemathesis tests against an application of mine and it keeps returning the error:
"Received a response with 5xx status code: 500"

I have a 500 response defined in my schema, but this error does not seem to say that there is an issue within the schema itself.

Is there a way to turn off this particular check? The current solution I am using is

[2022-02-16 19:12] Stranger6667 commented on #1393
Hi @hoog1511

Thanks for reporting :) The failure comes from the "not_a_server_error" check which is enabled by default and fails on any 5xx response.

There is no way to disable a particular check at the moment - you might want to explicitly submit only needed checks via the "-c" command-line option:

[code]

There was #923 on this matter, but I thought it might be a bit confusing when `-c` is co

[2022-02-17 10:50] Stranger6667 opened #1394 "[BUG] "Content-Type missing" message might be duplicated by multiple checks"
**Describe the bug**
When `content_type_conformance` and `response_schema_conformance` are enabled at the same time, and API response has no `Content-Type` header, then there will be two failures, that are giving almost the same message

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Make an API endpoint that always responds with a response without Content-Type
2. Run Schemathesis wi

[2022-02-17 15:22] hoog1511 commented on #1393
I have tried adding the `-c status_code_conformance -c content_type_conformance -c response_headers_conformance -c response_schema_conformance` to my test, but it still runs the server_error check which causes my issue. The root cause of my issue is that one of the testcases performed against my API adds a value which does not conform with my provided regex `"[\d]{8}"` values like `0000000𐒠` will

[2022-02-18 18:51] niya3 opened #1395 "[FEATURE] add option not to verify TLS certificate in `replay` mode"
**Is your feature request related to a problem? Please describe.**
When i'm saving VCR cassette to reproduce some intriguing request i'm not able to re-run them because of self-signed cert used on the site:

[code]

Unfortunately, same option as in `run` mode isn't supported

[code]

**Describe the solution you'd like**
Add the site self-signed cert to the system.

**Describe alternatives you've c

[2022-02-18 19:03] Stranger6667 commented on #1395
Thanks! Will add soon

[2022-02-19 16:23] Stranger6667 commented on #1393
It does look like a bug to me, but I can not reproduce it. I tried it with the built-in server with the following command:

[code]

It has a single endpoint that fails all the time which should trigger the `not_a_server_error` check. Then I have the following output from Schemathesis:

[code]

So it triggers `content_type_conformance` to fail and as far as I can tell `not_a_server_error` is not ex

[2022-02-19 17:59] Stranger6667 commented on #1386
Thank you for opening the issue and the provided details!

There are a few things I'd like to mention as an explanation for this behavior, but indeed it is confusing UX.

The "dry run" mode was only intended to skip network calls to the tested app, and stateful links are only followed if there are responses that match their source responses.

As links require a valid source response (e.g. in the O

[2022-02-20 18:57] Stranger6667 commented on #1395
Nice feature to be used as a default, when nothing is specified explicitly

[2022-02-20 20:59] Stranger6667 commented on #1395
I think it could be even a part of #1143 - there are a few things I wanted to add to cassettes anyway.

[2022-02-20 21:46] Stranger6667 commented on #1385
Yeah, a similar issue was also mentioned in [this comment](https://github.com/schemathesis/schemathesis/issues/1147#issuecomment-979980389) in #1147.

I think that this is something that could be solved by custom checks, exactly as @serieznyi proposed. Also, I think they might be built-in into Schemathesis because the issue is quite common.

On the other hand, I think it could be better to stop al

[2022-02-20 21:46] #1395 closed

[2022-02-21 08:32] hoog1511 commented on #1393
The command I used to perform the schemathesis test is: `schemathesis run oas.yaml -c all --base-url https://server.com --show-errors-tracebacks -store-network-log=traceback.yml --debug-output-file=output.yml --hypothesis-deadline=none --request-tls-verify=false --hypothesis-supress-health-check=too_slow --H apiKey:"....."` followed by some other headers.

[2022-02-21 09:02] niya3 commented on #1385
@Stranger6667 yep, i've already added custom check and it's just enough solve my problems right now. In my opinion the "fail fast" option is clearly the preferable one. Feel free to close this issue.

[2022-02-21 09:15] niya3 commented on #1386
@Stranger6667 thanks for the explanation, I see it now. Yes, docs may be improved, but it wouldn't solve the issue.

Yes, the separate command should definitely solve this issue. Sometimes I found the schemathesis output not as helpful as I would like it to be, as it was mentioned in https://github.com/schemathesis/schemathesis/issues/1383 - it would be realy nice to now what actions will the sche

[2022-02-21 18:53] DanLipsitt commented on #1335
Tests have been approved and run in fastapi-crudrouter.

[2022-02-21 19:23] Stranger6667 commented on #1335
Thank you for pinging me @DanLipsitt! I added a comment there with a suggestion that makes those tests properly executed at least on my machine. Please, take a look :)

[2022-02-21 19:24] Stranger6667 commented on #1335
I think it would be nice to add `call_asgi_and_validate` and `call_wsgi_and_validate` methods for consistency to avoid using `call_and_validate` with ASGI / WSGI apps + some docs on that.

[2022-02-22 12:47] niya3 opened #1398 "[BUG] Can't filter out endpoints `/foo/bar` when simultaneously specifying endpoints mask `/foo`"
**Describe the bug**
May be connected with https://github.com/schemathesis/schemathesis/issues/819 . It isn't possible to exclude some endpoint when specifying some other endponts.

**To Reproduce**
Suppose we shouldn't trigger the `/auth/refresh_auth_token` endpoint because it refreshes auth token and breaks my schemathesis run. Now I can't find a way to filter it out and trigger only `/pets` and

[2022-02-22 12:56] Stranger6667 commented on #1335
@DanLipsitt I added some validation & docs to #1399 - let me know if there is anything else I can do.

[2022-02-22 14:20] #1335 closed

[2022-02-22 16:32] Stranger6667 commented on #1384
Good point! Will add it

[2022-02-22 16:36] Stranger6667 commented on #1384
Oh, it is a bit more complicated than I thought - the used seed is per-endpoint, but it depends on hypothesis configuration. Not sure what to do about it yet

[2022-03-02 18:38] kevgliss commented on #1081
@Stranger6667 I'm happy to create a PR for this, could you provide any guidance on how you would like it implemented?

[2022-03-02 19:01] Stranger6667 commented on #1081
Cool, I was discussing this with @Zac-HD some time ago. The main idea is to store failing examples and instead of re-raising the Flaky exception, report it as a failure instead.

Here is the block to change - https://github.com/schemathesis/schemathesis/blob/7a5a8fe228577a459b12932a823559a21e5b4090/src/schemathesis/runner/impl/core.py#L302.

I am a travelling now and hope to get back on Friday, so

[2022-03-24 18:31] dil-gfischhof opened #1405 "[FEATURE] automatic CRUD operation on one endpoint"
This feature request somehow relates to #548 and #604

**Is your feature request related to a problem? Please describe.**
we have to create several links to do operations on one endpoint

**Describe the solution you'd like**
If the endpoint has appropriate operations, then schemathesis should test them in the following order, and with gathered data

find out some random thing
get that thing -> res

[2022-03-25 07:37] geeeez commented on #1390
Yes,thanks.

[2022-03-25 07:46] geeeez opened #1407 "[FEATURE]"
Schema has four built-in checks.However, there is no information on conventional web vulnerabilities.If I want to customize my own check,Works like a built-in check，What should I start with? Do I need to know the whole workflow of schemathesis？Is there an interface that allows users to customize their own check, such as scanning SQL injection or logic ultra vires？Is there a way to make the check d

[2022-03-28 12:56] dil-gfischhof opened #1409 "[QUESTION]"
Hi Folks,

I would like to test a program which has microservices architecture.
It means that it has several APIs (one for every service), I would like to test them all.
And would like to create such many decorated functions, are the same.
Like this:

[code]
Question:
How can I generate tests from several APIs.

I would like to put them into a list, and process the list:

[code]

BR,
George

[2022-03-28 13:14] Stranger6667 commented on #1409
Hello George,

Thank you for asking! :) At the moment there is no built-in way to shortcut this process.
You could do something like this, to generate multiple test functions (though it is not quite handy):

[code]

Personally, I don't particularly like code generation like this, but I think it is a good use case to be added to the core library.

[2022-03-28 22:02] DanLipsitt opened #1410 "[BUG] Depends on deprecated class removed from Werkzeug"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
Schemathesis will not run because deprecated module `werkzeug.wrappers.json` has been [removed](https://github.com/

[2022-03-28 22:07] Stranger6667 commented on #1410
Thanks for reporting! I will have a look

[2022-03-28 22:08] DanLipsitt commented on #1410
Thanks! Werkzeug changelog says `Request and response mixins have all been merged into the Request and Response classes` but I don't know exactly how.

[2022-03-29 07:03] Bidaya0 commented on #1410
Shouldn't there be an hotfix release here to fix it?
I looked at the pyproject.toml for the record and this may have affected quite a few released distributions.

[2022-03-29 09:25] dil-gfischhof commented on #1409
Hi @Stranger6667

I tried it, and it has a syntax error ;)

[code]

but the following works:
[code]

I think it should be added into documentation into a chapter titled Microservices
I will go forward with links, so perhaps other useful things can be put into that chapter. (I would like to test consume a data which is added from one service from a different one - user journey)

[2022-03-29 10:47] Stranger6667 commented on #1410
If the mixin was merged, then it would be nice to have conditional logic, that uses `JSONMixin` if it is available and creates an empty mixin if it is not. This way we should be able to support all werkzeug versions

[2022-03-29 11:16] Stranger6667 commented on #1409
Oh, I forgot that it is Python 3.9+ version only. You are exactly right about the version you provided.

Yep, it definitely should go to the docs. Though, I might want to prototype a more common solution first, so such a use case is directly supported without workarounds :)

I'll try to respond in #1405 during this week as well, so we can have more ideas on how to improve the status quo.

Btw. Tha

[2022-03-29 12:00] pdubey2018 opened #1412 "[Questions] Access to data created by the schemathesis"
Hi, I would like to access the data created by schemathesis. Currently, I run this command to test the API. I see the data logged by the API.

`schemathesis run -D negative http://localhost:9990/openapi.json -E "/cumulative_proba"`

I would love to see the data generated and use it to make my own list of specific cases, where I know the responses. I see some information in the example and Unicode

[2022-03-29 12:02] Stranger6667 commented on #1412
Hey @pdubey2018

I think you can utilize cassettes for this purpose - https://schemathesis.readthedocs.io/en/stable/cli.html#storing-and-replaying-test-cases

[2022-03-29 12:03] Stranger6667 commented on #1412
Let me know if it fits your needs :)

[2022-03-29 12:06] Stranger6667 opened #1413 "[FEATURE] A way to disable base64 encoding in cassettes"
**Is your feature request related to a problem? Please describe.**
It might not be convenient to browse the cassettes when all payloads are base64 encoded. Plain JSON would be convenient in many cases

**Describe the solution you'd like**
Add a CLI option to disable base64 encoding and convert the payloads to UTF-8. Probably we can just use the "replace" way of dealing with non-UTF8 values. Though

[2022-03-29 13:19] hoog1511 opened #1414 "[FEATURE] show what response status codes are hit per endpoint"
**Describe the solution you'd like**

I would like a feature that shows what response status codes are tested per endpoint when performing tests in the CLI. This would make it easier to confirm that all the defined responses in the OAS are validated against the application which is being tested. Currently, I have to manually check the debug output for this information, which can take some time to

[2022-03-29 14:08] Stranger6667 commented on #1410
Resolved in `3.13.4`. Thank you everybody involved

https://pypi.org/project/schemathesis/3.13.4/

[2022-03-29 14:08] #1410 closed

[2022-03-29 14:17] Stranger6667 opened #1417 "Revise dependency constraints"
I'd like to revise the current dependencies constraints to avoid situations like #1410. We need a safer approach & avoid unconstrained dependencies

[2022-03-29 15:22] Stranger6667 commented on #1410
Hi @mm-gmbd

I'll take a look at it

[2022-03-29 20:16] Stranger6667 commented on #1410
@mm-gmbd

`2.8.6` is released with the fix - https://pypi.org/project/schemathesis/2.8.6/

[2022-03-29 21:05] mm-gmbd commented on #1410
Thanks, kind @Stranger6667!

[2022-03-30 03:59] Bidaya0 commented on #1417
These are some of my experiences in project management.
1. Confirm the release policy of the dependency.
2. Take xx as an example, as I commented in [https://github.com/schemathesis/schemathesis/pull/1411](https://github.com/schemathesis/schemathesis/pull/1411) . At least by keeping them in MINOR version of [semantic versioning](https://semver.org/) to keep backwards compatible. And carefully upda

[2022-03-30 12:07] Stranger6667 commented on #1409
There is a fundamental difference between how Hypothesis and pytest work, and many quirks come from there (see https://github.com/pytest-dev/pytest/issues/916 for details). Hypothesis implies a feedback loop between generated samples and how the test function behaves, so it adjusts the data generation to enable shrinking and better test space exploration - i.e. it might decide that a certain direc

[2022-03-30 12:09] Stranger6667 commented on #1409
Could be, yep. Or at least there could be an argument to they hypothetical `schemathesis.parametrize` that controls this behavior

[2022-03-30 12:54] dil-gfischhof commented on #1409
I like it :) specially as s1,s2,s3 can be a list (I saw once a microservice where there were 52 APIs, right now I test a microservice with only 12 APIs)
This form is also good, because it uses the previously created schemas. It can be useful, for example because I can load schemas from different places (URL, file), also for the URLs I can use different parameters (for example verify)

[2022-03-31 14:28] pdubey2018 commented on #1412
Hi @Stranger6667,
Really appreciate for quick response, I am sorry I got stuck with another rabbit hole. Your solutions work great. That's exactly what I wanted. thank you :)

There are two more things:
1. Requests/responses look weird.
``` {"^x": [{"": -2.2250738585e-313, "\ud938\udfd9": -30862, "<\u00ad": "aJ"}, {"\ud884\udd22+\u0003\u00ec\u07466\u0002q\u009a\u00d0\u00c2`\u00eb\u00b5\ud803\uddeb

[2022-03-31 14:41] Stranger6667 commented on #1412
You're very welcome! :)

That is what Schemathesis may generate, depending on the schema. Usually, such data is observed when there are some unconstrained properties are allowed.

From the first glance, I can suggest adding `extra = "forbid"` to the `Inputs` model (here are [the docs](https://pydantic-docs.helpmanual.io/usage/model_config/#options)).

As far as I remember, this leads to having `ad

[2022-03-31 16:43] pdubey2018 commented on #1412
Thanks @Stranger6667

Here is working dummy schema:

[code]
I think I understand why **date** field has problem, but do not understand why height field should have problem in generating values. What these random values created?

An example of data generated:

```{"input1": [], "input2": {"date": "\u009b\ud9fc\udea7", "f2": "VALUE1", "height": {"unit": "CENTIMETRES", "value": 1.1, "\t\u0083\u000b\u

[2022-03-31 16:47] pdubey2018 commented on #1412
thanks so much for looking into this.  First of its incredible to see the enum, and units, dates etc are properly generated and hence this awesome tool already :)

[2022-03-31 17:10] Stranger6667 commented on #1412
Thank you for sharing the code!

Here is why this data is generated.

The models do not specify the `extra = "forbid"` config option, therefore `additionalProperties` keyword is not generated for their corresponding JSON Schemas. When `additionalProperties` is not specified it implies `additionalProperties: true`, so any additional property is allowed - for this reason, Schemathesis generates such

[2022-03-31 17:13] Stranger6667 commented on #1412
I was thinking about the leading zero, but it is alright according to ISO 8601

[2022-04-01 12:05] pdubey2018 commented on #1412
thanks So much! It makes sense and I will try and let you know. About the DateTime as when I use `date: datetime.datetime` it works well. Thanks again, really appreciate you taking your time out for this. Cheers

[2022-04-01 14:04] nereus-east opened #1422 "[BUG] maximum of int64 of openAPI spec should be 9223372036854775807 not be 9223372036854775808"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
When I use [schemathesis](https://github.com/schemathesis/schemathesis) test my API.
There is always a test case th

[2022-04-01 16:50] Stranger6667 opened #1423 "Store requests in a cassette if `--dry-run` is enabled"
This feature might help for the use case when the use wants to just generate inputs (which is usually not actually that helpful as it lacks the feedback loop which gives Schemathesis an ability to generate better test cases)

[2022-04-02 03:52] mdantonio opened #1425 "[BUG] Incompatibility with hypothesis 6.41.0"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
The latest (just released) version of hypothesis (6.41.0) is not compatible
[code]

**To Reproduce**
Steps to repro

[2022-04-02 11:15] Stranger6667 commented on #1425
Thanks for reporting! Will fix soon :)

[2022-04-02 11:33] #1425 closed

[2022-04-02 11:54] Stranger6667 commented on #1425
The fix is released in `3.13.7`

[2022-04-02 12:33] mdantonio commented on #1425
Thank you!

[2022-04-04 12:17] pdubey2018 commented on #1412
Hi, @Stranger6667 thanks again! This is exactly what I needed. I am closing this question. Thanks again for the prompts help! Let me know if I can contribute to this effort in any way, it is a really helpful library! Cheers

[2022-04-04 13:23] #1412 closed

[2022-04-04 16:34] Stranger6667 commented on #1412
You're very welcome! :)

I'd appreciate it if you can share your use case, so we can build more helpful stuff :) Feel free to ping me on [Discord](https://discord.gg/R9ASRAmHnA) / gitter, or if some other way to communicate would work better for you, let me know :)

[2022-04-05 10:33] Stranger6667 opened #1429 "[BUG] `Case.source` is not copied inside `partial_deepcopy`"
It might potentially lead to some problems in stateful testing reporting code

[2022-04-06 13:47] pdubey2018 commented on #1412
Hi, Here is my use case ( it is pretty simple):
* I am building a microservice that spits out predictions. I get data from the backend and do magic of my model, and send a prediction back
* I used Fastapi to build the RestAPI server, this server receives data from the back-end in JSON format ( with strict schema definitions)
* So I have pedantic schema models that match to back-end schema. My goal

[2022-04-08 18:24] #1429 closed

[2022-04-11 09:49] Stranger6667 commented on #1293
Was added some time ago

[2022-04-11 09:49] #1293 closed

[2022-04-11 15:27] #1394 closed

[2022-04-11 15:32] #1390 closed

[2022-04-11 16:20] #1372 closed

[2022-04-11 16:35] Stranger6667 commented on #1378
Hi @schicks

Sorry for not getting back to you earlier. What is the `pytest` version you're using? I created a similar test file and can't reproduce the behavior - the `web_app` fixture is not evaluated, and the relevant test is skipped as expected when I use `-m "not acceptance"`:

[code]

Deselecting:
[code]

Selecting:

[code]

Environment:
- Python 3.10.4
- pytest 6.2.5
- latest available Sche

[2022-04-11 16:50] Stranger6667 commented on #1422
Hi @nereus-east

Thanks for opening this issue! I think that #593 is exactly the same - I didn't manage to start working on that issue though :(
So, it was left behind as implementations may not follow the `format` keyword validation rules + there was no negative testing, therefore limiting the integers would have led to decreasing the variance in the generated data. I still want to implement it (

[2022-04-11 16:50] #1422 closed

[2022-04-11 17:06] #1378 closed

[2022-04-12 13:00] Stranger6667 opened #1445 "[BUG] CLI displays a wrong hypothesis config in the report header"
**Describe the bug**
CLI always takes the current profile and shows how it is different from the default one. The problem is that it should display all the `--hypothesis-*` values passed to the CLI explicitly, but it doesn't because the `settings` object is passed explicitly to the generated test functions, and the profile isn't changed in any way. So, now it only shows the database value, which i

[2022-04-12 13:28] Stranger6667 commented on #1303
Implemented in 4a167a449686810a1ef17c9ab525460e38466e3a

[2022-04-12 13:28] #1303 closed

[2022-04-12 13:31] #1373 closed, assigned to Stranger6667

[2022-04-12 14:33] #1326 closed

[2022-04-12 14:33] #1445 closed

[2022-04-12 14:44] #1382 closed

[2022-04-12 15:27] Stranger6667 commented on #1382
I adjusted the error message in #1446, which should make the underlying issue a bit more clear. It will be released in the next version. Feel free to reopen this issue if you'll find those changes not sufficient.

[2022-04-13 06:44] danielknell commented on #494
considering https://github.com/schemathesis/schemathesis/issues/1293 is closed, does this mean progress can begin on support for 3.1?

[2022-04-13 14:27] #1381 closed

[2022-04-13 16:23] kwmlodozeniec opened #1451 "[BUG] KeyError when loading schema from pytest fixrture"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
When I try to load the schema from a pytest fixture I get a long traceback error with KeyError matching one of the

[2022-04-14 01:59] dkbarn opened #1452 "[BUG] AttributeError: 'function' object has no attribute 'hypothesis' (with pytest-asyncio>=0.17.1)"
**Checklist**

- [ X] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [ X] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
A change in behavior of pytest-asyncio between 0.17.0 and 0.17.1 has broken our schemathesis tests which make use

[2022-04-14 08:51] Stranger6667 commented on #1452
Hi @dkbarn

Thanks for reporting! I'll make a new release with a fix soon

[2022-04-14 09:22] Stranger6667 commented on #1451
Hi @kwmlodozeniec

Thanks for reporting! This is a tricky one :( Schemathesis uses a custom collector to generate tests, and I did not yet dig deep enough to understand why those "expanded" collected items aren't going to the `pytest_collection_modifyitems` [here](https://gitlab.com/MaienM/pytest-depends/-/blob/master/src/pytest_depends/__init__.py#L117). I'd assume that disabling the `pytest-depe

[2022-04-14 09:22] #1452 closed

[2022-04-14 09:30] Stranger6667 commented on #1452
The fix is released in [3.13.9](https://pypi.org/project/schemathesis/3.13.9/). Let me know if it doesn't solve the issue

[2022-04-14 10:17] kwmlodozeniec commented on #1451
@Stranger6667 thanks for a quick response. I have realised I no longer need the depends plugin so I removed it and the call now works fine.

[2022-04-14 10:34] Stranger6667 commented on #1451
Great! I'll keep the issue open, so we can improve interoperability with this and other plugins in the future

[2022-04-14 10:58] kwmlodozeniec opened #1454 "[BUG] Top level test case is always reported as PASSED"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
When I a test runs it always reports the top level test case as PASSED regardless of the outcome of any "subtests"

[2022-04-14 16:01] dkbarn commented on #1452
Thank you for the incredibly fast fix! I can confirm that this has resolved the issue and our tests are passing agin.

[2022-04-19 11:25] Stranger6667 opened #1463 "[FEATURE] skip tests if schema can’t be negated"
At the moment, if there are no parameters at all or none of them can be negated, then Schemathesis will generate a positive test. This is already covered by positive tests

[2022-04-19 13:43] Stranger6667 opened #1464 "[BUG] Data generation hooks do not work with GraphQL"
No `before_generate_*` hooks except `before_generate_case` are executed for GraphQL.

[2022-04-19 19:48] #966 closed

[2022-04-19 19:51] Stranger6667 commented on #1125
Closing this as #966 is implemented. Once released, the docs will contain a separate section on auth. The parameters part will be a part of my future work on the docs.

[2022-04-19 19:51] #1125 closed

[2022-04-19 21:33] Stranger6667 commented on #1266
Closing, as commits that update the docs (231f2a441a62952ae2ca6e6070222a681180f770 and b804378908d6550e3ab6a66a4bd080fe5cbb4c5c) are merged now

[2022-04-19 21:33] #1266 closed

[2022-04-21 10:46] Stranger6667 commented on #1405
Hi @dil-gfischhof

It definitely makes sense and feels very much like links inference with some heuristics. At the moment, there are quite a lot of things I am not certain about:
- Configuration API. How the end-user would like to configure such tests?
- How generic and strict the default implementation should be?

I also don't think that the current state machine-based implementation is the right

[2022-04-21 11:39] Stranger6667 commented on #1409
All Schemathesis tests are effectively Hypothesis tests, therefore they have the same integration issues regardless of their testing scope. In the aspect of data generation, Hypothesis and pytest have completely different approaches, so using Hypothesis in the way it is not supposed to be used deflects its benefits.

I'd agree, that `schema.parametrize` does quite much stuff that is implicit, but

[2022-04-21 15:15] dil-gfischhof commented on #1405
Hi @Stranger6667,

yeah, sure ;) I will collect them, anonymize and share.
Unfortunately our API is not a standard REST API, but as I heard from a colleague it is called functional API...
So practically, these are two different things... (Also we have some additional restrictions on that particular API, for example some value must be unique, so those parts require customized, home brew solution an

[2022-04-21 15:58] vkosuri commented on #713
Any ETA? I am eager to see this feature.

[2022-04-21 16:01] Stranger6667 commented on #713
Hi @vkosuri

It is something that I plan to add to Schemathesis.io first (at least 6+ months from now), as the feature is quite large. Let me know if you have any specific requirements on this - I'd be happy to discuss them.

[2022-04-21 19:37] vkosuri commented on #713
Thanks @Stranger6667

Had a question, We can check the OpenAPI specifications constrained Input structure and Response structure

In order to conformance on asyncapi it requires some checks, curious to know how to put a check because it uses publish/subscribe where publisher fire and ignore and where the testing will go?

Some open API testable specifications
Input structure

- 200 OK responses mu

[2022-04-22 10:51] KioLion commented on #1142
Hello people,

I currently have encountered a similar bug in my application. The bug occures when using "Bearer {token}" for authentication. The token is automatically generated by OpenIdConnect while using FastAPI.
In some cases (some generated tokens have the issue, not all) the generated token is not encodeable by latin-1. So I get the a similar error to Lakitna. The error is an UnicodeEncodeEr

[2022-04-22 14:28] arthurzenika opened #1468 "[FEATURE] documentation about running schemathesis in Gitlab-CI"
**Is your feature request related to a problem? Please describe.**

We're running schemathesis in gitlab CI against an environment built and deployed with AutoDevops.

It would be nice to have a small snippet one could copy/paste from the documentation to get started with schemathesis on a CI system.

Here is how we got it working :

[code]

**Describe the solution you'd like**
Maybe have somethin

[2022-04-22 16:02] Stranger6667 commented on #1468
Hi @arthurzenika

Thank you for opening this issue! I am pleased to know you find Schemathesis useful! :)

At the moment I am working on a Github Action and the corresponding "CI" docs chapter too! So, I feel that this issue comes right on time! :)

I am curious if you have some specifics about how you start up your app? Usually, I see something like:

1. Start the application under test on some l

[2022-04-22 18:24] vkosuri opened #1470 "how to generate test code"
Hi @Stranger6667

Is there any option to generate test cases code not to exeucte, instead run the tests? The reason I need to save the tests for each release.

Thanks
Malli

[2022-04-22 18:33] vkosuri opened #1471 "[FEATURE] Live stats update"
It would be great if we would have live test count increments

Verb --- Number tests performed for each verb
===
GET
PUT
PATH
DELETE

Test status --- Denotes the number of tests passed or failed
====
Pass:
Fail:

Stauts code: For each status code number of tests performed
=======
1xx
2xx
3xx
4xx

[2022-04-23 05:54] vkosuri opened #1472 "Improve reporting of errors caused by reference resolution"
**Checklist**
Yes

**Describe the bug**
open API with one of reference unable to parse failed with Keyeroor, I have pasted a concise version of how they key located in the below

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run this command '...'
2. See an error

If possible, please post a minimal version of your API schema that cause this behaviour:

[code]

**Expected behavior**

[2022-04-23 06:06] vkosuri opened #1473 "[FEATURE] Allow insecure server connection for ssl requests"
Without cert the requests are failing, If we have a command-line option to verify ``false|true`` that would be great.

https://2.python-requests.org/en/master/user/advanced/#ssl-cert-verification

[code]

[2022-04-23 13:12] Stranger6667 commented on #1473
It could be solved with the [--request-tls-verify](https://schemathesis.readthedocs.io/en/stable/cli.html#cmdoption-schemathesis-run-request-tls-verify) CLI option, which proxies exactly to the `requests` option you mentioned.

[2022-04-23 13:12] #1473 closed

[2022-04-23 14:45] #1413 closed

[2022-04-23 14:51] Stranger6667 commented on #1472
The error in the output states:

[code]

But, your example doesn't correspond to the output as it has no such a pointer at all. Could you, please, submit a complete schema? Otherwise, it looks like the error is in the schema as the resolver can't resolve that reference.

However, the current Schemathesis output is not much helpful in this regard :(

[2022-04-23 15:00] Stranger6667 commented on #1471
These stats are definitely nice to see, but I don't have a complete vision of what the end result might look like. It is somehow incompatible with the current CLI style that follows `pytest` that outputs a line for each tested endpoint. I'd like to have some [CLI redesign](https://github.com/schemathesis/schemathesis/issues/909) and such an idea is definitely something I want to consider - some fo

[2022-04-23 16:11] vkosuri commented on #1471
Our API requests are very time consuming around 20 to 30mins duration will take in the future may go beyond, and The end-use at least knows what exactly is failing or passing etc. By looking at these stats we can something happening

Sure

[2022-04-23 16:16] vkosuri commented on #1473
Thank you it worked @Stranger6667

[2022-04-23 16:18] vkosuri commented on #713
@Stranger6667 any inputs from your side? How to go?

[2022-04-23 17:16] vkosuri commented on #1472
Thanks @Stranger6667, give me some time, I will come back

[2022-04-23 19:45] Stranger6667 commented on #713
At the moment, there is no support for it at all. Neither for data generation nor for checks. The direction is:
- Implement a separate "Schema" class that iterates over API operations similar to [this one](https://github.com/schemathesis/schemathesis/blob/master/src/schemathesis/specs/openapi/schemas.py#L781), for example, - Adjust corresponding `Case` class if AsyncAPI requires so
- Implement the

[2022-04-25 01:48] Zac-HD opened #1474 "[DOCS] Unstable link anchors in changelog"
I recently wanted to send someone a link to the changelog entry for a particular version.

Unfortunately, without ref anchors in the `rst` file, the generated HTML uses sequential link anchors, and with each new release `#id3` will be further and further from what I'd intended.  See https://github.com/HypothesisWorks/hypothesis/commit/fe4ac8479ce9be356fdaa704f892963c1245ce5e for an example fix.

[2022-04-25 09:14] KioLion opened #1475 "[BUG] Bearer Token is not encodeable by latin-1 codec"
**Describe the bug**
When using Bearer Tokens for authentication, that are generated by OpenID/OAuth2 and a have length of around 1000+ characters, in some cases ( very high chance that the error occures) a `UnicodeEncodeError: 'latin-1' codec can't encode character '\u2026' in position 512: ordinal not in range(256)` occures, while running the tests with schemathesis. Please note that the token g

[2022-04-26 09:26] #1474 closed

[2022-04-26 09:27] Stranger6667 commented on #1474
Thanks! Fixed :) The new release will contain stable anchors

[2022-04-26 12:53] hoog1511 opened #1481 "[BUG] extra properties added to generated requestBody?"
**Describe the bug**
the generated requestBody does not match the body defined in the schema.
[code]
generates the following body
[code]

**Expected behavior**
I would expect a body with no new properties added. Do you maybe know why I am experiencing this issue?

**Environment (please complete the following information):**
 - OS: Windows
 - Schemathesis version: latest
 - Spec version: Open API 3

[2022-04-26 12:56] Stranger6667 commented on #1481
Hi @hoog1511 !

Those properties are for the object sub-schema which has no `additionalproperties` defined

[2022-04-26 13:06] hoog1511 commented on #1481
I seem to have fixed it by adding another additionalproperties: false under registration.

[2022-04-26 13:12] Stranger6667 commented on #1481
Yep, you're right!

[2022-04-26 13:12] Stranger6667 commented on #1481
I missed the notification though :( sorry for that

[2022-04-26 14:26] #1481 closed

[2022-04-26 22:34] Stranger6667 opened #1485 "[BUG] Support `requests>=2.27`"

[2022-04-26 22:34] Stranger6667 opened #1486 "[BUG] Support `pytest-subtests>0.5`"

[2022-04-28 10:54] #1486 closed

[2022-04-28 10:55] Stranger6667 commented on #1417
Thanks!

Closing this as I capped the versions of all dependencies

[2022-04-28 10:55] #1417 closed

[2022-04-28 13:29] #1463 closed

[2022-04-28 20:41] hnataraj commented on #494
@Stranger6667 is OAS 3.1 now supported?

[2022-04-28 21:48] Stranger6667 commented on #494
@hnataraj Not yet!

There are quite a lot of things to do and the main thing is `hypothesis-jsonschema` support for newer drafts. There are a few refactorings planned there, which would be better to implement before new drafts (it should also unblock the complete support for recursive references).

On the Schemathesis side, we need support for this:
- `contentEncoding`
- `contentMediaType`
- Few m

[2022-04-29 09:06] Stranger6667 commented on #1475
Hi @KioLion

Thanks for reporting! Could you, please share such a token here + the command you ran / code you executed?

The `\u2026` character is a Unicode version of `...` (`…` as a single char) - can it be a copy-paste artifact? Schemathesis [doesn't generate](https://github.com/schemathesis/schemathesis/blob/master/src/schemathesis/specs/openapi/_hypothesis.py#L66) such characters for headers,

[2022-04-29 20:40] Stranger6667 commented on #1470
Hi @vkosuri

No, there is intentionally no feature like that in Schemathesis, as it requires a feedback loop with the underlying fuzzing engine to generate effective test cases. Otherwise, a lot of benefits of property-based testing are gone - e.g. shrinking.

However, you can do something like this:

[code]

[2022-04-29 20:40] #1470 closed

[2022-05-01 17:54] #881 closed

[2022-05-01 17:58] Stranger6667 commented on #1081
Resolving this, as flaky errors are reported as failures since `3.15.0`. Feel free to reopen it if, the new behavior does not solve the issue

[2022-05-01 17:58] #1081 closed

[2022-05-03 11:21] KioLion commented on #1475
`schemathesis run -H "Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJJdGloQUJfY1dJU09KUmJfQWRLYmc3RElDbUg4ZEg2eWxFblNkRXpQY3BFIn0.eyJleHAiOjE2NTA4NzY0NzEsImlhdCI6MTY1MDg3NTU3MSwiYXV0aF90aW1lIjoxNjUwODc1NTcxLCJqdGkiOiJiMjg3YWJmNy0yZTNlLTQzMjQtODQwMi05ODY0YWE0OTE0ZDEiLCJpc3MiOiJodHRwczovL2lkZW50aXR5LnBsYXR0Zm9ybS5pcG9sb2cuYWkvYXV0aC9yZWFsbXMvaXBvbG9nIiwic3ViIjoiYzZhNmJmNmIt

[2022-05-03 13:50] Stranger6667 commented on #1475
You're very welcome :) The command above works fine on my machine when I run it against `https://example.schemathesis.io/openapi.json`, but the API is different and might not expose the actual issue :(

Great to hear it :) Feel free to reach out to me if you need any support

[2022-05-04 13:11] Stranger6667 opened #1509 "Improve CLI startup time"
At the moment schemathesis' CLI start-up is ~500ms on my machine, which is too much. It should be improved. The general direction is to make some imports lazy, as some of the modules have expensive setup during import time.

[2022-05-10 09:07] hoog1511 opened #1513 "[BUG] parameter ignored and pattern only used."
I have a question, in my OAS I have a referenced parameter which has an example and a pattern. When I run the schemathesis test it seems to ignore my example entirely and only generate values using the pattern (not sure if this is a bug or a configuration error on my part). This parameter is inserted in the path of a PUT request and the provided example is the only known existing id. How can I mak

[2022-05-11 09:32] #1349 closed

[2022-05-11 09:33] #1393 closed

[2022-05-11 11:56] dil-gfischhof commented on #1405
Hi @Stranger6667,

nowadays I have no time, unfortunately...
Our API looks like this:

get    /v1/object/
post    /v1/object/add
delete    /v1/object/delete

but others could have some different their own stuff, so with this we are not going forward, so standard RESTful API should be in focus at least for first (maybe we will migrate to that too)

BR,
George

[2022-05-11 12:01] deft01 commented on #1274
Hi, how can I have the same behavior than `--request-tls-verify false` programmatically.

[2022-05-11 12:10] deft01 commented on #1274
My script look like this :

[code]
I have two problems :

1) I want to desactivate SSL check because I have `'[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1123)\'` in the responses. I have tried `urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)` but not working.

2) I want to proxify my request programmatically.

[2022-05-11 12:26] deft01 commented on #1274
Im proxifying this script with `export http_proxy=http://127.0.0.1:8080 && export https_proxy=http://127.0.0.1` and get `[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1123)`

[2022-05-11 12:28] Stranger6667 commented on #1274
you can pass `verify=False` to `case.call_and_validate`

It should work out of the box, as Schemathesis uses `requests` under the hood which [supports](https://2.python-requests.org/en/master/user/advanced/#proxies) it:

[code]

[2022-05-11 12:44] deft01 commented on #1274
I tried to modify the line containing call_and_validate as you mentionned :
`case.call_and_validate(headers={"Authorization": f"Bearer Test"}, verify=False)`
but it doesnt make it. I have still the same error.

For the proxy : yes it work with the environnement variables (export), but I would like to make it programmatically, directly in the python script. I havent seen anything that could let me

[2022-05-11 13:09] deft01 commented on #1274
The stacktrace :
[code]

[2022-05-11 13:12] Stranger6667 commented on #1274
It should be possible to use the `proxies` argument:

[code]

Schemathesis proxies almost everything you pass to `case.call_and_validate` to `requests.Session.request`, including `verify` & `proxies`, so there should be no difference with using `requests` directly with those arguments.

[2022-05-11 13:49] Stranger6667 commented on #1274
Does it work with plain `requests`?

[2022-05-11 14:03] deft01 commented on #1274
Yes with plain `requests` it works.
I founded an option (not documented i believe) that can desactivate the SSL checks.
`runner.request_tls_verify = False`

And it works like this !

[2022-05-11 14:04] deft01 commented on #1274
I will investigate if I have the time, why the options passed to the `requests` module through the **kwargs are not working.

[2022-05-11 14:14] Stranger6667 commented on #1274
Oh, I didn't notice this block:

[code]

and was thinking only about `@schema.parametrize`. Sorry!

So, you could pass `request_tls_verify` to `from_schema`. These options are not passed to `requests` - for this, you need to use the [process_call_kwargs](https://schemathesis.readthedocs.io/en/stable/extending.html?highlight=process_call_kwargs#process-call-kwargs) hook

[2022-05-11 15:20] deft01 commented on #1274
Okay ! I understand now.

I came with this piece of code :
[code]

It is proxying programmatically + removing the check on SSL.
Thank you a lot for your help :+1:

[2022-05-11 15:46] Stranger6667 commented on #1274
You're very welcome! :)

[2022-05-13 13:51] Stranger6667 opened #1514 "[BUG] Do not reraise exceptions as `InvalidSchema` for non-schemathesis tests"

[2022-05-28 17:22] tl-madhulika-mitra opened #1517 "Getting the error as Invalid Schema, but extremely difficult to understand what the issue is"
I am getting the below error when trying to run Schemathesis on my Open API spec version 3 definition

Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.9/site-packages/schemathesis/specs/openapi/schemas.py", line 206, in get_all_operations
    yield Ok(self.make_operation(path, method, parameters, raw_definition))
  File "/opt/homebrew/lib/python3.9/site-packages/schemathesis/s

[2022-05-28 17:27] tl-madhulika-mitra opened #1518 "Upload report to Schemathesis failed due to huge payload"
**Describe the bug**
Payload reached size limit. Report upload failed

**To Reproduce**
Steps to reproduce the behavior:
1. Run this command st run pet-swagger --base-url=https://petstore3.swagger.io/api/v3/ --checks=all
2. See error

Schemathesis.io responded with HTTP 413
An error happened during uploading reports to Schemathesis.io:
Please, consider reporting the traceback below it to our issue

[2022-05-28 17:31] Stranger6667 commented on #1517
Hi @tl-madhulika-mitra

Thanks for opening the issue, that is indeed a bad error report from Schemathesis. As far as I see, the underlying issue is that some of the security schemes miss the "type" key. You might want to run Schemathesis with `--validate-schema=true` first, which will output errors from the JSON Schema validator, which may not be much helpful as well :(

At the moment I plan to re

[2022-05-28 17:33] Stranger6667 commented on #1518
Thanks! I should have thought about this :( I am reworking uploads now at #1516 and will take this into account

[2022-05-28 17:38] tl-madhulika-mitra commented on #1517
Just a note, I realised I was using a spec file here, which was in turn trying to build from more $ref files in my projects, which Schemathesis mostly likely might not have been able to access, not super sure, but strangely, some apis still seemed to have work, while some did not :) .  When I tried to test with the detailed schema which did not need anything externally but was the final Yaml, Sche

[2022-05-28 17:46] Stranger6667 commented on #1517
Thanks for more context! Can it be that you have `$ref` inside one of your security scheme definitions? Not inside the `securitySchemes` key, but inside individual items there?

[2022-05-28 17:52] Stranger6667 commented on #1518
That's an oversight on how failures are deduplicated. Will fix it during the next hour

[2022-05-28 18:30] #1518 closed

[2022-05-28 19:04] #1514 closed

[2022-05-28 19:16] Stranger6667 commented on #1518
The fix is released in 3.15.3

[2022-05-31 17:42] tl-madhulika-mitra commented on #1517
1) Thanks for the revert. Yes you are right, a few `$ref` are under `securitySchemes` but most of them are not. So you think this caused the error?

2) Also besides, when I do run for the fully declared file, there are 1 error I encounter: What does this essentially mean?
Note that these apis have OneOf, AllOfs, so is it like the schema is complex and hence example generation is difficult.

Traceb

[2022-06-02 09:16] #1323 closed

[2022-06-05 08:46] Stranger6667 opened #1526 "[FEATURE] Support generating data for media types with wildcards"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

One can specify ‘*/*’ as payload media type and Schemathesis will raise an error, but probably we can try serialisers matching the media type

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-06-05 19:30] #1526 closed

[2022-06-05 19:35] Stranger6667 commented on #1377
Now all exceptions are chained

[2022-06-05 19:35] #1377 closed

[2022-06-05 20:07] #1149 closed

[2022-06-11 10:57] Stranger6667 commented on #1475
Hi @KioLion ! I am going to close the issue for now. But feel free to reopen it if the issue persists. At this point I am inclined to think that the issue is outside of Schemathesis itself.

[2022-06-11 10:57] #1475 closed

[2022-07-05 14:45] Mec-iS opened #1538 "[BUG] Error after upgrading to hypothesis 6.49"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
An error occurs when running a simple test with library `hypothesis` version 6.49.1. The test is the basic:
[code]

[2022-07-09 08:13] #1538 closed

[2022-07-09 08:15] Stranger6667 commented on #1538
Thank you so much for reporting! The issue is fixed, but not yet released. I plan to make a new release next week.

[2022-07-15 19:01] JLU-Neal commented on #137
It is weird that I'm still seeing this problem, I am using pytest 7.1.2

[2022-07-15 19:09] Stranger6667 commented on #137
@JLU-Neal Could you, please share your Schemathesis / Python / OS versions as well? Do you run the same code sample as above?

[2022-07-15 19:14] JLU-Neal commented on #137
Actually, I did not run the code here, but I face the same problem. Python 3.8.10, OS ubuntu 20.

[2022-07-18 16:46] roukmoute opened #1562 "[BUG] A way to avoid sending `\x00` in headers from `securitySchemes`"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues) (Is it duplicate of https://github.com/schemathesis/schemathesis/issues/1142?)

**Describe the bug**

Hi,

**To Reproduce**
Steps to repr

[2022-07-19 13:53] #1304 closed

[2022-07-19 14:39] basbossink-ds commented on #796
It appears currently also _missing_ headers are reported as an error even if the schema specifies the header as _optional_.

[2022-07-19 14:42] Stranger6667 commented on #796
Hi @basbossink-ds

Good catch! Let me fix it :)

[2022-07-19 15:15] Stranger6667 commented on #796
That issue is going to be fixed in #1564. I'll release a new version during this week

[2022-07-26 07:51] Stranger6667 commented on #1468
We have some examples for GitLab here now - https://schemathesis.readthedocs.io/en/stable/continuous_integration.html#gitlab-ci

Let me know if they are missing any important details!

[2022-07-26 07:51] #1468 closed

[2022-07-29 14:54] azeeka opened #1573 "[BUG] OpenAPI links with runtime expression in requestBody are not evaluated"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
Runtime expression in `requestBody` section of the link is not evaluated

**To Reproduce**
Steps to reproduce the b

[2022-07-29 15:01] Stranger6667 commented on #1573
Hi @azeeka

Unfortunately, Open API 3.0.x defines `requestBody` link behavior as:

So, it is treated as a literal `{"refresh": "$response.body#/refresh"}` :( [Here](https://schemathesis.readthedocs.io/en/stable/stateful.html#open-api-links-limitations) is a little bit more in the very last section of the docs.

I want to make it less frustrating, for example with #900 and #1230, but it will requir

[2022-07-29 15:20] azeeka commented on #1573
I've come up with a workaround, by experimenting with runtime expression, so I'll leave it here, in case if it may be helpful:
[code]

[2022-07-29 15:31] #1573 closed

[2022-08-03 10:45] hoog1511 opened #1575 "[BUG] --hypothesis-phases=explicit, no checks performed"
**Describe the bug**
I had a schema which I was using for Schemathesis testing which had a dummy example value for a apikey header (i.e. 5140286e-65c6-435d-991c-52635c05ddb7).

When I performed tests using the CLI with the --hypothesis-phases=explicit configuration, I provided a different valid value for that header (i.e. b12b93c6-b0b6-40d2-bfef-2bd95a38666e).  Once I started up the test the Schem

[2022-08-03 19:56] rubiodamian commented on #1573
Hi, i had the same problem.
i tried a lot of thing and ended using lamda to parse.

define schema links
`schema.add_link(
    source=schema["/api/step1"]["POST"],
    target=schema["/api/step2"]["POST"],
    status_code="200",
    request_body={"data": lambda x: x['stuff']['data']},
    name='mac'
)`

run the stepts as normal:
`    step1 = state.step(
        case=state.schema["/api/step1"]["POST"

[2022-08-05 07:47] subatiq commented on #137
Also getting this problem on both pytest 6.2.4 and 7.1.2
`pytest.ini` is empty

[code]

[2022-08-05 07:51] Stranger6667 commented on #137
By any chance, do you run it via PyCharm launcher?

Btw, @subatiq , I don't see the `schemathesis` plugin installed in your output - how does it relate to schemathesis behavior?

[2022-08-05 08:02] subatiq commented on #137
@Stranger6667 strange, I never installed it before, just used hypothesis and had no problems.

Ran it with `schemathesis` and still the same output. Plugins from output: `plugins: hypothesis-6.54.0, subtests-0.6.0, cov-3.0.0, schemathesis-3.16.1`

Looks like python version also has nothing to do with that, tested on 3.7.5 and 3.10.5

Also, no PyCharm, I ran everything from the terminal

[2022-08-05 08:13] Stranger6667 commented on #137
It might be better to report it upstream to [Hypothesis](https://github.com/HypothesisWorks/hypothesis), as it looks like the test itself doesn't use Schemathesis, and its output does not depend on Schemathesis installed

[2022-08-05 08:19] subatiq commented on #137
Yes, sorry, seems like I missed the hypothesis repo and found yours instead

[2022-08-05 08:20] Stranger6667 commented on #137
No worries! :)

[2022-08-05 08:20] #137 closed

[2022-08-05 12:42] lina-is-here opened #1580 "[FEATURE] Possibility to stop test execution after n test failures"
**Is your feature request related to a problem? Please describe.**
In the big and bug-prone APIs it could happen that the schemathesis output is so large it becomes useless.

**Describe the solution you'd like**
Add an option to limit the test failures. For example `--limit-fails=5`. The execution stops after 5 failures.

**Describe alternatives you've considered**
Interrupt execution manually
Red

[2022-08-06 22:53] Stranger6667 opened #1582 "[FEATURE] A way to make CLI wait for schema to be available"
**Is your feature request related to a problem? Please describe.**
Case - build API first, then run Schemathesis. The problem is that the user needs to wait for API to become available, so it leads to some clunky scripts:

[code]

**Describe the solution you'd like**
Add a CLI option to specify a timeout for waiting. For example, do not wait by default, but if `--wait-for-schema=5` is passed, then

[2022-08-06 23:01] Stranger6667 commented on #1580
I am leaning toward the `pytest`'s `--maxfail=N` option, or maybe `--max-fail` / `--max-failures` to have more consistent naming

[2022-08-07 20:59] #1580 closed

[2022-08-08 08:25] lina-is-here opened #1584 "[FEATURE] Show the response when replaying a cassette"
**Is your feature request related to a problem? Please describe.**
When replaying a test case from cassette there's ID, URI, Old status code and New status code. I'd like to have there response fields as well.

**Describe the solution you'd like**
I see it as adding verbose option `-v`. When provided, `st replay` will also show `Old response` and `New response` in addition to status codes.

**Desc

[2022-08-08 17:38] #1582 closed

[2022-08-08 18:20] #1584 closed

[2022-08-09 17:51] Stranger6667 opened #1589 "[FEATURE] Support `discriminator` keyword properly"
**Is your feature request related to a problem? Please describe.**
Schemathesis does not use `discriminator` at all, but it has certain behavior in OAS 3.0. Specifically:

[code]

and

[code]

If these aspects are applied, then some responses previously considered invalid will be valid. Though, as the latter case uses "MAY", the current behavior of Schemathesis is OK in this regard (the former cas

[2022-08-11 12:58] h-barthwal opened #1591 "Getting errors while trying out schemathesis."
I installed `schemathesis` using `pip3 install schemathesis` and tried it out as follows:

[code]
Can someone tell me how to fix these errors?

[2022-08-11 13:05] Stranger6667 commented on #1591
Hi @h-barthwal !

Thank you for reporting! Could you, please share your GraphQL spec? I assume this is a bug inside Schemathesis as it assumes that the `Query` type is always named `Query`

[2022-08-11 13:15] Stranger6667 opened #1592 "[FEATURE] Support exception groups"

[2022-08-11 13:17] h-barthwal commented on #1591
@Stranger6667 I cannot exactly share my schema (and I have already renamed a few things in the above output) as it is owned by my employer. But yes, the root Query type in my schema is not named as `Query`. The full schema is too big to share here and I will have to basically rename everything in there. But my schema basically looks like this at the root level:

[code]

I hope that helps.

[2022-08-11 13:18] Stranger6667 commented on #1591
Thanks! I'll take a look at how it could be automatically detected then

[2022-08-11 18:25] Stranger6667 commented on #1591
Could you, please, share how you define that some custom type should work as `Query` instead? I.e. how the parser will detect that type `T` is the `Query` type

[2022-08-11 18:40] Stranger6667 commented on #1591
This behavior will be fixed in the next release, thank you once again for reporting!

[2022-08-11 18:47] h-barthwal commented on #1591
@Stranger6667 Thanks for the quick follow up here. Eager to try `schemathesis` out once this is fixed.

[2022-08-11 18:50] Stranger6667 commented on #1591
I am absolutely delighted to fix it! Curious about your feedback when you'll have a chance to try it :)

[2022-08-11 19:18] #1591 closed

[2022-08-14 15:47] #1592 closed

[2022-08-15 17:16] Stranger6667 commented on #1575
Hi @hoog1511

Thanks for reporting! I am leaning towards the first option with an error message. The latter one feels like it will hide the fact that one of the examples is not tested at all.

[2022-08-18 11:36] avrazheva opened #1600 "[FEATURE] Handle ChunkedEncodingError and add it to a result report"
**Is your feature request related to a problem? Please describe.**
Для некоторых ручек сервисов получаем ошибку:
[code]

**Describe the solution you'd like**
Кажется, что во время запуска теста теряем коннекшн к сервису. Можно сделать какой-то хендлинг этого события и выводить отдельным пунктом в репорт.

[2022-08-25 16:18] robwa opened #1602 "[BUG] Confusing error message when trying to load schema from a non-existing file"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
When I run the CLI on a non-existent scheme file (`schemathesis run invalid.json`), I get a very misleading error:

[2022-08-25 16:23] Stranger6667 commented on #1602
Thanks for reporting! Will work on it soon

[2022-08-28 19:11] thewchan opened #1606 "Conda Forge"
Hello! I have successfully put this package on to Conda Forge, and I have extending the invitation for the owner/maintainers of this package to be maintainers on Conda Forge as well. Let me know if you are interested! Thanks.
https://github.com/conda-forge/schemathesis-feedstock

[2022-08-28 19:47] Stranger6667 commented on #1606
Hi @thewchan

Thank you for reaching out! I am interested :) Sure

[2022-09-01 21:00] #1606 closed

[2022-09-02 10:32] hoog1511 opened #1607 "[BUG] Confusing error reporting if API responds with SSL errors"
**Describe the bug**
with the current stable version of schemathesis i got a test result which stated "no checks are performed". After some debugging it seems this was caused due to an SSL error. I had to revert the schemathesis version to v3.12.3 and rerun the test to get a clear error response.
The current version of schemathesis does not seem to return this error message, but the older version

[2022-09-02 20:47] thewchan commented on #1606
Thanks @Stranger6667 I will add you as maintainer over there!

[2022-09-09 13:18] TheBigRoomXXL commented on #1201
Recently my tests started to fail because  of Hypothesis FailedHealthCheck exception when running test with the negative data generation. I don't know what stated it because it didn't do that before.

[code]

For reference I am testing 7 endpoints with just 250 examples per endpoint. It took 29min 18s for positive + negative testing. Now that I removed the negative testing it went down to 8min 14s

[2022-09-13 08:25] triplem161 opened #1610 "[QUESTION] How to authenticate with http-only cookie ?"
Hello,

I hope you don't mind this question.

I am using FastAPI, and my authentification consist in a http-only cookie being set. Usually sharing a common TestClient is enough to keep the cookie set between requests. But I can't find a way to share a TestClient for the auth request and the case call request.

I need a context for the TestClient too (`with TestClient(my_app) as session:`), as I ne

[2022-09-15 15:01] fscarlato commented on #947
What is the state of this issue?
I'm still getting:
 `hypothesis.errors.Unsatisfiable: Currently, Schemathesis can't generate data for this operation due to recursive references in the operation definition. See more information in this issue - https://github.com/schemathesis/schemathesis/issues/947`

And the schema is a simple Parent-Child relationship:
[code]

If this is a recursion level problem

[2022-09-19 07:15] fscarlato opened #1611 "[BUG] Schemathesis Can't handle a simple recursive reference:"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

I'm still getting:
hypothesis.errors.Unsatisfiable: Currently, Schemathesis can't generate data for this operation due to recursive refe

[2022-09-20 18:59] berislavlopac opened #1612 "[BUG] from_asgi does not use base_url to retrieve the spec"
**Checklist**

- [X] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [X] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
When using the `schemathesis.from_asgi` function, it can be passed the `base_url` to use when making requests, just

[2022-09-20 19:30] berislavlopac commented on #1612
Uh I think I missed something here, sorry.

[2022-09-20 19:30] #1612 closed

[2022-09-20 23:57] fscarlato commented on #1405
Hello! This code gives me the flaky exception, what is wrong with it?

`   def inconsistent_generation():

            "Inconsistent data generation! Data generation behaved differently "
            "between different runs. Is your data generation depending on external "
            "state?"
        )
`

[2022-09-21 10:51] fscarlato commented on #1573
Hello @rubiodamian but doesn't this gives you test with only one example? How do you iterate it?

[2022-09-21 13:53] rubiodamian commented on #1573
yes, @fscarlato, just for one example.
but you can make it iterate making each step on init with the initialize decorator

[2022-09-27 02:52] Bidaya0 opened #1614 "[BUG] startup failure caused by dependencies, requires httpx"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
Because the upstream starlette updated the dependencies,the following error occurs
ModuleNotFoundError: No module n

[2022-09-27 08:00] t-huyeng commented on #1614
I can confirm this issue.
* using GitHub Actions

[2022-09-27 11:32] TheMatrix97 commented on #1614
facing the same issue, no matter what version of schemathesis / python

[2022-09-27 11:35] Kludex commented on #1614
`pip install httpx` is a temporary fix 👀

[2022-09-28 06:42] mdavis-xyz commented on #1614
The [starlette readme](https://github.com/encode/starlette) says:

It looks like Schemathesis wants to use the TestClient, therefore httpx should be added as a non-temporary requirement of schemathesis. I'll write a PR for that.

[2022-09-28 06:46] mdavis-xyz commented on #1614
Ah actually it looks like schemathesis uses poetry, which I am not familiar with. So I'm not confident I know where to add the new dependency.

Can someone else add it? Does it go in pyproject.toml or poetry.lock?

[2022-09-28 06:50] Kludex commented on #1614
`poetry add httpx>=0.22.0`
`poetry lock --no-update`

[2022-09-28 23:05] mdavis-xyz commented on #1614
Ok I'll try that.

Why did you say `httpx>=0.22.0` and not just `httpx`?

[2022-09-29 05:09] Kludex commented on #1614
Because it's the minimum version that Starlette supports. 🙏

[2022-10-01 14:20] CommanderStorm commented on #1614
This is awkward: How did you do this?
I [tried to add this dependency via pip this way](https://github.com/TUM-Dev/NavigaTUM/blob/230dd80c5e6a5bdd03887eecc5ab657175dcfef8/.github/workflows/server.yml#L95), but this does not work, as (assuming this is the culprit) the schemathesis action does install python dependencies itself.

[2022-10-01 16:21] Kludex commented on #1614
idk, different virtual env? :man_shrugging:

[2022-10-07 11:32] TheBigRoomXXL opened #1618 "[BUG] Invalide type check when field is nullable"
**Checklist**
- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
I have an attribute describe as follow:
[code]

When i run a schemathesis test against that endpoint a get following

[2022-10-07 14:08] TheBigRoomXXL commented on #1618
Actually I was looking a circuit_id schema on the wrong endpoint. My schema was indeed wrong as the test said and schemathesis handle `"nullable": true,` without problem.

Fix: stop being a moron.

Sorry for the useless issue.

[2022-10-07 14:08] #1618 closed

[2022-10-08 03:24] devicehzy commented on #1614
*  solution by poetry
[code]

[2022-10-08 03:42] devicehzy opened #1619 "[BUG]stratup fail caused by dependencies,update werkzeug(2.0.2 -> 2.2.2),No module named 'werkzeug.wrappers.json'"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
update werkzeug,the following error occurred
[code]

**To Reproduce**
1.Set poetry dependencies and install it
[cod

[2022-10-10 19:24] #1614 closed

[2022-10-10 20:46] Stranger6667 commented on #1614
The issue is fixed in `3.17.3`. Let me know if the fix doesn't work for you

[2022-10-10 20:46] Stranger6667 commented on #1614
And sorry for the delay!

[2022-10-15 18:02] Stranger6667 commented on #1619
Hi!

You use a quite outdated Schemathesis version. The issue has been solved a while ago.

[2022-10-15 18:02] #1619 closed

[2022-10-18 12:16] leibson opened #1623 "Not an issue, just want to find out what data caused API failures"
Thanks for an outstanding application for testing APIs.

I am just starting to experiment with it, and after running against the API under test, I looked at all of the output (jsons etc.).

I am trying to find what the inputs were for a few given cases in order to understand why those cases failed.  E.g., maybe a transaction ID was set to 0, negative, or some other non-valid value.

It looks like

[2022-10-18 20:25] gwerbin-tive opened #1625 "[BUG] Schemathesis generates tests for path `//` when testing path `/`."
## Checklist

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

## Describe the bug

Schemathesis generates the URL path `//` for the path `/`, which naturally triggers a 404 error, which causes a test

[2022-10-18 21:16] Stranger6667 commented on #1625
Hi @gwerbin-tive

Thank you for such a detailed report! Indeed, it is a bug in constructing an URL.
I'll fix it soon :)

[2022-10-18 22:06] #1625 closed

[2022-10-19 05:17] commonism commented on #947
[aiopenapi3](https://github.com/commonism/aiopenapi3/blob/master/tests/fixtures/schema-recursion.yaml) does recursion using [pydantics update_forward_refs](https://github.com/commonism/aiopenapi3/blob/master/aiopenapi3/openapi.py#L349)

[2022-10-19 13:38] Stranger6667 commented on #1625
You're welcome :) It should be there within an hour

[2022-10-19 14:47] fscarlato opened #1627 "[BUG] Stateful testing restarts too soon and API is not explored"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
Stateful testing seems a really powerful for automating the API exploration, but it's difficult to make it work. It

[2022-10-20 01:45] gwerbin-tive opened #1628 "[BUG] HTTP 307 redirects are not followed"
## Checklist

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

## Describe the bug

Schemathesis attempts to interpret HTTP 307 responses as API endpoint responses, rather than redirects. This results

[2022-10-20 01:47] #1628 closed, assigned to Stranger6667

[2022-10-20 10:11] hoog1511 commented on #1575
Hi @Stranger6667

I recently ran a schemathesis dry run to check data generation of my OAS and noticed a peculiar bug. Having an example provided for a apikey header which is also designated as a security schema; causes example values to be ignored for a path parameter of mine. The patterns are still used but I cant see the example values anywhere in the generated data.

[code]

I required the pat

[2022-10-28 09:19] hoog1511 opened #1629 "[BUG] Headers designated as "required: false" but still expected in the response"
**Describe the bug**
I have an openAPI schema where there are optional headers for a 404 response. This is due to a complex configuration where multiple connected services and a gateway can send the response with different contentTypes for the API I am testing. Depending on the contentType the headers are present i.e., application/json has them and text/html does not. During the schemathesis test

[2022-10-31 18:31] thedeeno commented on #1147
FWIW, our team just experienced this exact situation: https://github.com/schemathesis/schemathesis/issues/1147#issuecomment-949436192

Our suite passed when a documented status code was never returned. Since we can't guarantee at least 2xx codes are returned we can't rely on schemathesis to verify our spec. Further, the limitation makes it hard to create a red/green development workflow. Even comp

[2022-10-31 18:34] thedeeno commented on #1147
To add a little more, we also experienced a situation where stateful testing was failing silently too. When our POST was broken and only 400'ing, there were never any results to send to the linked GET. So the stateful test never ran but our suite still remained green - the links were just silently skipped.

[2022-11-03 12:54] stegayet opened #1631 "[FEATURE] Allow `Werkzeug<=2.2.2`"
**Is your feature request related to a problem? Please describe.**
Allow `Werkzeug<=2.2.2` to avoid dependency conflicts when using schemathesis alongside `Flask>=2.2.0`

**Describe the solution you'd like**
Allow `Werkzeug<=2.2.2`

**Describe alternatives you've considered**
No alternative

**Additional context**
No additional context

[2022-11-06 12:36] euri10 opened #1632 "[BUG] no exceptiongroup module found when using python 3.11"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

I upgraded

[2022-11-07 09:35] Stranger6667 commented on #1632
Hi @euri10

I'll take a look today :) Thank you so much for reporting

[2022-11-07 09:45] Stranger6667 commented on #1629
Hi @hoog1511

Thank you for reporting! That is strange as the exact issue should have been fixed as a part of the `3.16.0` release via https://github.com/schemathesis/schemathesis/pull/1564. Am I missing something?

Could you, please take a look if we talk about the same aspect of the validation process?

[2022-11-07 09:49] #1623 closed, assigned to nobody

[2022-11-07 09:55] euri10 commented on #1632
Yep I arrived at the same conclusion, it's working adding it manually since exceptiongroup detects im on 3.11 and dont uses the backport, but ideally I shouldn't have to install it.

Maybe schemathesis should do the 3.11 detection on requires, I'm not familiar enough with the internals to know,

Thanks for looking at it 🙂

[2022-11-07 09:55] Stranger6667 commented on #1607
Hm, interesting. Such things should be reported. What was the exact version you used that did not report it? If the issue is still there, I'd be keen to improve the status quo by reporting it properly.

[2022-11-07 09:57] Stranger6667 commented on #1632
You're right! :) The fix will be basically a small condition about Python 3.11, and if it is true, then use the built-in exception class, otherwise check the Hypothesis version & use the backport or `MultipleFailures` from Hypothesis.

[2022-11-07 10:03] Stranger6667 commented on #1610
Hi @triplem161

Sorry for the delay! Yes, `case.call` accepts a `TestClient` instance as a `session` argument, which is what happens inside the `case.call_asgi` method. I think our doc lacks this detail, I'll add some more examples specifically for Fast API.

[2022-11-07 14:21] hoog1511 commented on #1629
hi @Stranger6667

I do seem to be using an outdated version of schemathesis. I tried updating it but now I keep receiving error messages regarding a missing httpx and exceptiongroup package. I added these manually, but the tests are not running for me and keep returning an error.
command:
`schemathesis run static/yaml.yaml -c status_code_conformance -c content_type_conformance -c response_headers_

[2022-11-07 14:42] Stranger6667 commented on #1629
Oh, wow! Interesting error there. I’ll take a look

[2022-11-07 22:35] #1629 closed

[2022-11-07 22:35] #1632 closed

[2022-11-07 22:36] Stranger6667 commented on #1629
The issue should be resolved in the next patch release

[2022-11-07 22:36] Stranger6667 commented on #1632
The issue should be resolved in the next patch release

[2022-11-07 23:42] Stranger6667 commented on #1631
Fixed by #1630. I'll issue a new release tomorrow

[2022-11-07 23:42] #1631 closed

[2022-11-09 10:09] balr09 opened #1636 "[FEATURE] Support application/vnd.api+json media type"
Schemathesis is not properly working when "application/vnd.api+json" media type is defined at openapi.yaml endpoint.

I tried registering the serializer inside my test code but still didn't work.

This is my code:
[code]
And the returned error:
[code]

[2022-11-09 21:38] Stranger6667 commented on #1636
Hi! Thank you for the report

The error message has a single quote char in the end:

[code]

The error message template does not have it, so I assume it comes from the schema. Is it possible that there is a typo in the schema, e.g. a trailing single quote?

However, I think Schemathesis should work with this media type out of the box anyway:

[code]

[2022-11-10 08:13] balr09 commented on #1636
Oh, you are right. Thanks a lot for your help.

[2022-11-10 08:13] #1636 closed

[2022-11-15 11:24] grigi opened #1637 "[BUG] starlette 0.21.0 uses httpx testclient"
**Checklist**

- [x] I checked the [FAQ section](https://schemathesis.readthedocs.io/en/stable/faq.html#frequently-asked-questions) of the documentation
- [x] I looked for similar issues in the [issue tracker](https://github.com/schemathesis/schemathesis/issues)

**Describe the bug**
`starlette==0.21.0` updated to use `httpx` for the testclient instead of `requests`.

In particular `starlette.test

[2022-11-15 11:30] Stranger6667 commented on #1637
Oh, right. Thank you for opening this issue. I'll take a look this evening

[2022-11-17 22:00] Stranger6667 commented on #1637
This will take some more time as it requires full support for `httpx`, so all built-in checks, hooks, the runner integration, etc should be updated.

[2022-11-23 09:57] hoog1511 opened #1639 "[FEATURE] CLI option for queries"
**Describe the solution you'd like**
I would like to have the option of providing a query value in the CLI to make sure all the tests I perform use this specific value. This query option should function similarly to the --header option that Schemathesis currently has.

**Describe alternatives you've considered**
I have the option of enforcing the values by using an enum instead of an example, and

[2022-11-23 10:02] Stranger6667 commented on #1639
I think it is a great idea! I'll try to think about the API for it

[2022-11-29 16:07] pdscopes commented on #1147
I have a slightly different solution to this problem, which is for the CLI only. You need to include a `--pre-run` option pointing a file containing:

[code]